/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.preview-filter {
  position: relative; }
  .preview-filter img {
    width: 100%; }
  .preview-filter .filter-div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.3; }

.filter-preview {
  background: #fff;
  padding: 30px;
  border-radius: 15px; }
  .filter-preview h2 {
    font-size: 18px;
    text-align: left; }

.input-color-grp .input-group-addon {
  width: 100px;
  border: 1px solid #ced4da;
  line-height: 1.5; }

.gxp-footer {
  padding: 11px 0;
  text-align: center;
  background: #013b60;
  color: #fff;
  font-size: 12px;
  position: fixed;
  top: initial;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.gradientbox {
  display: none; }

.gradientStrip {
  height: 38px;
  width: 100%;
  background: url(spree/backend/png-pattern.png);
  border: 1px solid #ced4da; }
  .gradientStrip .gradient-strip-color {
    width: 100%;
    height: 100%; }

.preview-filter-png canvas {
  width: 100% !important; }

/*# sourceMappingURL=gxpadmin.css.map */
