/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.gxp-main-content {
  padding: 50px 0px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d6d6d6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6;
}
input[type=range]::-ms-fill-upper {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6;
}
input[type=range]::-ms-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #d6d6d6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d6d6d6;
}
.form-content, .template-preview {
  padding: 30px;
  border-radius: 15px;
}
.form-content {
  padding-bottom: 0px;
}
.form-content .form-group label {
  width: 100%;
}
.form-content .form-group label span {
  float: right;
  border: 1px solid #333;
  padding: 0 10px;
  min-height: 28px;
  min-width: 80px;
  border: 1px dashed #bdbdbd;
  text-align: center;
}
.template-preview h2 {
  font-size: 18px;
  text-align: left;
}
.template-preview {
  text-align: center;
}
.template-preview .preview-shape {
  border: 2px solid #333;
  margin: 50px auto;
  width: 0;
  height: 0;
  padding: 1px;
  display: none;
  overflow: hidden;
}
.input-color-grp .input-group-addon {
  width: 100px;
  border: 1px solid #ced4da;
  line-height: 1.5;
}


/*# sourceMappingURL=gxpadmin.css.map */

/*Custom CSs*/
.d-none {
  display: none;
}
.layer-settings {
    display:  inline-block;
    width: 100%;
    margin: 0 -15px;
}
.layer-settings td {
    display: inline-block;
    width: 49%;
    padding: 0 15px;
}
.form-group {
    border: none;
}
.preview-shape {
  position: relative;
}
.preview-inner-img {
  position: absolute;
  border: 2px solid #333;
  overflow: hidden;
}
.custom-nav-tabs li a {
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid #d6d6d6;
  border-bottom: none;
}
.custom-nav-tabs li a:hover,
.custom-nav-tabs li a.active {
  background: #5498da;
  color: #fff;
}
.layer-settings-admin {
  width: auto;
}
.sticky-active {
  position:  fixed;
  top: 0;
}

.sticky-bottom {
  bottom: 0 !important;
  top: initial;
  position:  absolute;
}
.sticky-container {
  position: relative;
}
.sticky-static {
  position: static;
}
.field ul .width-100 {
  position: relative;
  width: 100%;
}
.field ul .width-100 i.fa.fa-eyedropper {
  position: absolute;
  right: 40px;
  top: 8px;
  pointer-events: none;
}
.field ul .width-100 span.color {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 31px;
  height: 31px;
  pointer-events: none;
}
.field ul .width-100 input {
  width: 92%;
}
.layer-doc {
  position: absolute !important;
  top: 0px;
}
.layer-doc img {
  width: 100%;
  height: 100%;
}
.layer-doc span.doc-layer-name {
  position: absolute !important;
  top: -30px !important;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
  display: none !important;
  font-family: open sans !important;
}
.layer-doc.active-layer {
  border: 1px dashed #777;
}
.layer-doc.active-layer span.doc-layer-name {
  display: block !important;
}
.layer-doc.active-layer .ui-resizable-se {
  border: 1px solid #777;
}
.layer-doc.active-layer .ui-resizable-e::before, .layer-doc.active-layer .ui-resizable-w::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
  border: 1px solid #777;
}
.layer-doc.active-layer .ui-resizable-w::before {
  left: 6px;
}
.layer-doc.active-layer .ui-resizable-w::after {
  content: '';
  position: absolute !important;
  width: 12px;
  height: 12px;
  bottom: 1px;
  border: 1px solid #777;
  left: 6px;
}
.layer-doc.active-layer .ui-resizable-e::before {
  right: 6px;
}
.layer-doc.active-layer .editText {
  display: block;
  color: #333 !important;
}
.layer-text {
  font-size: 5.3px;
}
.background-image-block {
  padding: 10px 0;
}
.temp-bg {
    width: 30px;
    height: 25px;
    padding: 0;
}
.rmv-bg-img {
    float: left;
    width: 10%;
    margin-top: 12px;
}
label.a {
    float: left;
    width: 45%!important;
    padding-top: 8px;
}
.template-layers {
    padding-top: 0;
}
.form-content .form-group .radio-inline {
    width: auto;
    margin-right: 15px;
}
.background-image-block {
    padding: 0;
}

.background-image-block .field {
    padding: 0;
}
#template_background_color_field input {
  border: none;
}
#template_background_color_field .color-picker {
  border: 1px solid #cee1f4;
  border-radius: 3px;
}
#template_background_color_field.field ul .width-100 span.color {
  border: 1px solid #cee1f4;
  border-radius: 0px 3px 3px 0px;
}
#template_background_color_field {
  padding: 0;
}
.field-border {
  border: 1px solid #cee1f4;
  border-radius: 3px;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}
#frame-preview {
  position: absolute;
  left:  0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999999;
}
#frame-preview img {
  width: 100%;
  height: 100%;
  pointer-events: none!important;
}
.frame-list{
  float: left;
  margin-bottom: 15px;
}
.frame-list img {
  width: 48px;
  height: 48px;
}
.hide-margin{
  margin-bottom: 0px;
}
.sticker-img, .background-img{
  width: 100px;
  height: 100px;
}
.flexibility-check label {
  width: auto !important;
}
.flexibility-check .field {
  display: inline-block;
  margin-right: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], input[type="time"], input[type="url"], input[type="number"], input[type="tel"], textarea {
  width: 100%;
}
.form-content.template-layers {
  padding: 0px;
}
.form-content-scroll {
  padding: 0px;
  overflow: auto;
  height: 800px;
/*  height: 440px;*/
}
.overflow-container {
  overflow: auto;
  height: 800px;
/*  height: 440px;*/
}
.preview-shape {
  transform-origin: 0 0 0;
}
.layer-tabs {
  border-bottom: 1px solid #dee2e6!important;
}
.nav-tabs {
    border-bottom: none;
}
.sticker-small-img img{
    width: 48px;
    height: 48px;
}
.spree_add_frames_fields{
  float: right;
  margin-bottom: 10px;
}
.frame-label{
  float: left;
  width: 50%!important;
}
.frame-images {
  float: left;
  margin-right: 10px;
}
.frame-images img:hover{
  border: 3px solid #555;
}
.form-content-scroll {
  padding: 0 15px;
}
.preview-inner-text {
  z-index: 9999999999;
}
.font-select {
  width: 284px;
}
.frame-img-input{
  width: 35px;
  height: 30px;
  margin-left: 3px;
}


/*---------------------*/
.custom-fle-inpt{
  padding: 0;
  width: 90px;
  position: absolute;
  opacity: 0;
  }
.file-input-span{
    padding: 5px 11px;
    font-size:12px;
    vertical-align: middle;
    background: #5498da;
    color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}
.align-items-middle {
    vertical-align: middle;
}
.spree_remove_fields {
    display: block!important;
}
