<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <div class="row">
      <% if personalize_product.variants_and_option_values_for(current_pricing_options).any? %>
        <div id="product-variants" class="columns five alpha">
          <h6 class="product-section-title"><%= t('spree.variants') %></h6>
          <ul>
            <% personalize_product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
              <li>
                <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options)  %>
                <%= label_tag "variant_id_#{ variant.id }" do %>
                  <span class="variant-description">
                    <%= variant_options variant %>
                  </span>
                  <% if variant_price variant %>
                    <span class="price diff"><%= variant_price variant %></span>
                  <% end %>

                  <% unless variant.can_supply? %>
                    <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <%= hidden_field_tag "variant_id", personalize_product.master.id %>
      <% end %>
    </div>

    <% if personalize_product.price_for(current_pricing_options) and !personalize_product.price.nil? %>
      <div data-hook="product_price">
        <div id="product-price" class="row">
          <h6 class="product-section-title"><%#= t('spree.price') %></h6>
          <div class="col-md-6">
            <div class="subsection-sm">
              <span class="price selling h2 fw400 product-price" itemprop="price" content="<%= personalize_product.price_for(current_pricing_options).to_d %>">
                <%#= display_price(personalize_product) %>
              </span>
              <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="subsection-sm">
              <% if personalize_product.master.can_supply? %>
                <p class="text-lg fw700"><link itemprop="availability" href="http://schema.org/InStock" /></p>
              <% elsif personalize_product.variants.empty? %>
                <p class="text-lg fw700"><span class="out-of-stock text-muted-darken">Availability: </span><%= t('spree.out_of_stock') %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="add-to-cart subsection-sm text-right">
          <%= button_tag class: 'btn btn-info', id: 'add-to-cart-button', type: :submit do %>
            <i class="fas fa-shopping-cart"></i><%= t('spree.add_to_cart') %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
  </div>
<% end %>
