<div class="photo-gallery">  
  <div class="form-group">
    <%= field_container f.object, :uploaded_photo_id do %>
      <%= f.hidden_field :uploaded_photo_id, data: {effect: 'uploaded_photo_id'} %>
      <%= error_message_on f.object, :uploaded_photo_id %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :variant_id do %>
      <%= f.hidden_field :variant_id, data: {effect: 'variant_id'} %>
      <%= error_message_on f.object, :variant_id %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :user_id do %>
      <%= f.hidden_field :user_id, data: {effect: 'user_id'} %>
      <%= error_message_on f.object, :user_id %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :quantity do %>
      <%= f.hidden_field :quantity, data: {effect: 'quantity'} %>
      <%= error_message_on f.object, :quantity %>
    <% end %>
  </div>

   <div class="form-group">
    <%= field_container f.object, :gallery_image_layer do %>
      <%= f.hidden_field :gallery_image_layer, data: {effect: 'gallery_image_layer'} %>
      <%= error_message_on f.object, :gallery_image_layer %>
    <% end %>
  </div>
</div>
