<div class="product-stickers">  
  <div class="form-group">
    <%= field_container f.object, :sticker_layer do %>
      <%= f.hidden_field :sticker_layer, data: {effect: 'sticker_layer'} %>
      <%= error_message_on f.object, :sticker_layer %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :rotate do %>
      <%= f.hidden_field :rotate, data: {effect: 'rotate'} %>
      <%= error_message_on f.object, :rotate %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :opacity do %>
      <%= f.hidden_field :opacity, data: {effect: 'opacity'} %>
      <%= error_message_on f.object, :opacity %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :position_x do %>
      <%= f.hidden_field :position_x, data: {effect: 'position_x'} %>
      <%= error_message_on f.object, :position_x %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :position_y do %>
      <%= f.hidden_field :position_y, data: {effect: 'position_y'} %>
      <%= error_message_on f.object, :position_y %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :sticker_id do %>
      <%= f.hidden_field :sticker_id, data: {effect: 'sticker_id'} %>
      <%= error_message_on f.object, :sticker_id %>
    <% end %>
  </div>
</div>
