<div class="product-texts">  
  <div class="form-group">
    <%= field_container f.object, :text_layer do %>
      <%= f.hidden_field :text_layer, data: {effect: 'text_layer'} %>
      <%= error_message_on f.object, :text_layer %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :text_content do %>
      <%= f.hidden_field :text_content, data: {effect: 'text_content', style: 'width'} %>
      <%= error_message_on f.object, :text_content %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :rotate do %>
      <%= f.hidden_field :rotate, data: {effect: 'rotate', style: 'rotate'} %>
      <%= error_message_on f.object, :rotate %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :line_height do %>
      <%= f.hidden_field :line_height, data: {effect: 'line_height', style: 'line_height'} %>
      <%= error_message_on f.object, :line_height %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :font_size do %>
      <%= f.hidden_field :font_size, data: {effect: 'font_size', style: 'font_size'} %>
      <%= error_message_on f.object, :font_size %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :font_family do %>
      <%= f.hidden_field :font_family, data: {effect: 'font_family', style: 'font_family'} %>
      <%= error_message_on f.object, :font_family %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= field_container f.object, :opacity do %>
      <%= f.hidden_field :opacity, data: {effect: 'opacity'} %>
      <%= error_message_on f.object, :opacity %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :alignment do %>
      <%= f.hidden_field :alignment, data: {effect: 'alignment'} %>
      <%= error_message_on f.object, :alignment %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :style do %>
      <%= f.hidden_field :style, data: {effect: 'style'} %>
      <%= error_message_on f.object, :style %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :font_color do %>
      <%= f.hidden_field :font_color, data: {effect: 'font_color'} %>
      <%= error_message_on f.object, :font_color %>
    <% end %>
  </div>
</div>
