<div class="personalize-product" data-template-images= <%= get_template_images(@product).count %>>
  <div class="modal-body">
    <div class="image-load">
      <div class="final-img">
      </div>
      <div class="loader-bg d-none">
        <%= image_tag "spree/frontend/loading.gif", id: 'loader' %>
      </div>
    </div>

    <%= f.hidden_field :image_data %>

    <!-- form for product background -->
    <%= f.fields_for :product_background do |product_background| %>
      <%= render partial: 'product_background', locals: { f: product_background } %>
    <% end %>
    
    <!-- form for product texts -->
    <div class="save-product-texts">
      <%= f.fields_for :product_texts do |product_text| %>
        <%= render partial: 'add_product_texts', locals: { f: product_text } %>
      <% end %>
    </div>
    <%= link_to_add_fields t('spree.add_product_texts'), '.save-product-texts', class: 'spree_add_texts_fields d-none' %>

    <!-- form for product stickers -->
    <div class="save-product-stickers">
      <%= f.fields_for :product_stickers do |product_sticker| %>
        <%= render partial: 'add_product_stickers', locals: { f: product_sticker } %>
      <% end %>
    </div>
    <%= link_to_add_fields t('spree.add_product_stickers'), '.save-product-stickers', class: 'spree_add_stickers_fields d-none' %>

    <!-- form for uploading gallery photos -->
    <div class="save-gallery-photos">
      <%= f.fields_for :gallery_uploaded_images do |image| %>
        <%= render partial: 'add_gallery_photos', locals: { f: image } %>
      <% end %>
    </div>
    <%= link_to_add_fields t('spree.add_gallery_photos'), '.save-gallery-photos', class: 'spree_add_gallery_photos d-none' %>

    <div class="add-to-cart subsection-sm text-right add-to-cart-form">
      <button type="submit" class="btn btn-info" id="personalize-submit">
        <%= t('spree.personalize_product.add_to_cart') %>
      </button>
    </div>
  </div>
</div>
