<main class="main-layout create-new">
  <%= render partial: 'spree/shared/plugin_header' %>
  <div class="main-content">
    <% return unless @template.present? %>

    <div class="new-document", style="<%= style_background(@template) %>">
      <div class="scale-doc-section", style="<%= style_template_bg(@template) %>">
        <div class='main-img-layer draggableonly ui-draggable ui-draggable-handle' style='<%= style_background(@template) %>'>
          <% if @template.background_image.present? %>
            <%= image_tag @template.background_image.url(:original), 
                style:  style_background(@template) %>
          <% else %>
            <%= image_tag '', 
                style: style_background(@template), 
                class: 'bg-image' %>
          <% end %>
        </div>

        <div id="product-frame">
          <% template_frame = @template.template_frames.first %>
          <% if template_frame %>
            <div class="frame-layer">
              <%= image_tag template_frame.frame_image.url(:original) %>
            </div>
          <% end %>
        </div>
        
        <%= render partial: 'product_template' %>
      </div>
    </div>
  </div>
</main>