<div class="main-form">  
  <%= form_for [@product, @personalize_product] do |f| %>
    
    <%= f.hidden_field :product_variant, id: 'personalize_product_variant_id', value: @selected_variant_id %>
    
    <main class="main-layout create-new">
      <%= render partial: 'spree/shared/plugin_header' %>
      <div class="main-content">
        <div class="new-document", style="<%= style_background(@template) %>">
          <div class="scale-doc-section", style="<%= style_template_bg(@template) %>">
            <%= render partial: 'product_template' %>
          </div>
        </div>
      </div>
    </main>
    <div class="doc-scale" data-current-scale="1">
      <button class="btn btn-default" data-zoom="negative">
        <i class="fas fa-minus"></i>
      </button>
      <button class="btn btn-default" data-zoom="positive">
        <i class="fas fa-plus"></i>
      </button>
      <div class="current-size">
        <%= t('spree.scale.label') %>: <%= t('spree.scale.original') %>
      </div>
    </div>

    <%= render partial: 'sidebar', locals: {f: f} %>

    <div class="sidebar-collapsed-icons">
      <ul>
        <% if @template.template_images.present? %>
          <li data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="sb-col-icon">
              <%= image_tag "spree/frontend/top-icon-image.png" %>
            </div>
          </li>
        <% end %>
        <% if @template.template_texts.present? || flexibility_for_text?(@template) %>
          <li data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="sb-col-icon">
              <%= image_tag "spree/frontend/top-icon-text.png" %>
            </div>
          </li>
        <% end %>
        <% if flexibility_for_sticker?(@template)%>
          <li data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="sb-col-icon">
              <%= image_tag "spree/frontend/top-icon-sticker.png" %>
            </div>
          </li>
        <% end %>
        <% if flexibility_for_background?(@template) %>
          <li data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="sb-col-icon">
              <i class="fas fa-image"></i>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render partial: 'plugin_preview', locals: {f: f} %>
  <% end %>
</div>
