<!-- Image Plugin Instruction -->
<div class="modal modal-lightbox" id="instructionModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><%= t('spree.image_editor.instruction_title') %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <p><%= t('spree.image_editor.instruction') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('spree.image_editor.instruction_action') %>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Product Preview -->
<div class="modal modal-save" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content" id="model-preview">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><%= t('spree.personalize_product.final_step') %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="form-personalize">
        <%= render partial: 'form', locals: {f: f} %>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      </div>
    </div>
  </div>
</div>
<div class="sidebar-toggle">
  <i class="fas fa-cog"></i>
</div>

<!-- Sample Images -->
<div class="modal modal-lightbox" id="sampleImage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="hover-images">
        <% if @sample_images.present? %>
          <div class="owl-carousel-2 owl-carousel">
            <% @sample_images.each do |sample_image| %>
              <%= image_tag sample_image.attachment.url(:original) %>
            <% end %>
          </div>
        <% else %>
          <div class="not-found-error"><%= t('spree.error.no_content') %></div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-lightbox" id="photo-gallery">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title gallery-title"><%= t('spree.personalize_product.photo_gallery') %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="subsection">          
          <p class="text-primary" style="font-size: 0.9rem"><%= t('spree.photo_gallery.remark') %></p>
        </div>
        
        <div class="photo-gallery-products"></div>
      </div>
    </div>
  </div>
</div>
