<div class='main-img-layer draggableonly ui-draggable ui-draggable-handle' 
    style='<%= style_background(@template) %>'>
  <% if @template.background_image.present? %>
    <%= image_tag @template.background_image.url(:original), 
        style:  style_background(@template) %>
  <% else %>
    <%= image_tag '', 
        style: style_background(@template), 
        class: 'bg-image' %>
  <% end %>
</div>
<div id="product-frame">
  <% template_frame = @template.template_frames.first %>
  <% if template_frame %>
    <div class="frame-layer">
      <%= image_tag template_frame.frame_image.url(:original) %>
    </div>
  <% end %>
</div>

<% @template.template_images.each_with_index do |template_img, count| %>
  <% count += 1 %>
  <div class='layer-doc layer-image active-layer' 
      data-toggle='tooltip' 
      data-placement='bottom' 
      data-layer-doc='layer-<%= count %>' 
      style='<%= style_template_images(template_img) %>' 
      title=<%= get_template_img_title(template_img) %>
    >
    <span class="doc-layer-name">
      <%= t('spree.personalize_product.image') %>- <%= count %>
    </span>
    <div class='parent-mult-img' 
         style='<%= parent_image_css %>'
        >
      <% if @select_gallery_photo.present? && count == 1 %>
        <% product_image = @select_gallery_photo.display_image %>
        <%= image_tag product_image.attachment(:product), 
            class: 'draggable-only'  
          %>
        <div class='gallery-uploaded-image selected-gallery-photo' 
            product_id=<%= @select_gallery_photo.id %> 
            variant_id=<%= @selected_photo_variant %>>
        </div>
          <% session[:picture_id] = nil %>
          <% session[:variant_id] = nil %>
      <% else %>
        <%= image_tag "spree/frontend/upload-img.png", 
            class: 'draggable-only', 
            'natural-width': 'undefined', 'natural-height': 'undefined' %>
        <canvas id="c" style="display: none"></canvas>
      <% end %>
    </div>
  </div>
<% end %>

<div class="predefined-texts" data-template-texts=<%= @template.template_texts.present? ? "true" : "false" %>>
  <% @template.template_texts.each_with_index do |template_text, count| %>
    <% count += 1 %>
    <%= render_preview_template_text(count, template_text) %>
  <% end %>
</div>