<div class="dropdown layer-dropdown-toggle">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <%= t('spree.personalize_product.please_select') %>
  </button>
  <ul class="layer-dropdown-container dropdown-menu">
    <% if @template.present? %>
      <% @template.template_images.each_with_index do |template_img, count| %>
        <% count += 1 %>
        <li data-layer-doc="layer-<%= count%>" image-width="<%= template_img.img_width %>" image-height="<%= template_img.img_height %>" data-imgwidth="<%= template_img.img_width %>">
          <a class="layer-left" href="#layer-<%= count%>" data-toggle="tab">
            <%= t('spree.personalize_product.image') %>-<%= count %>
          </a>
          <span class="layer-right">
            <i class="fa fa-eye"></i>
            <%= image_tag "spree/frontend/cusImage.png" %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <% count = 0 %>
  <%= f.fields_for :product_pictures do |picture| %>
    <% count += 1 %>
    <div class="layer layer-details-panel layer-images-panel tab-pane" id="layer-<%= count%>">
      <div class="layer-header">
        <div class="layer-img"></div>
        <div class="layer-name" style="padding-left: 5px"></div>        
        <button type="button" class="btn btn-success btn-drag">
          <i class="fas fa-unlock"></i>
        </button>
      </div>
      <div class="layer-settings">
        <button type="button" class="btn btn-block btn-back-setting">
          <i class="fas fa-angle-left"></i>
          <%= t('spree.personalize_product.layer_back') %>
        </button>
        <label class="layer-set1 btn-change-pic" data-picture="layerpicture">
          <h3>
            <i class="fas fa-image"></i>
            <%= t('spree.personalize_product.image') %>
            <span class="btn btn-default custom-btn img-change-btn">
              <%= t('spree.personalize_product.upload') %>
              <%= picture.file_field :product_image, data: {style: 'product_image'} %>
            </span>
          </h3>
        </label>

        <% if @product.wishlist_photos? %>
          <label class="layer-set1 btn-change-pic gallery" data-picture="layerpicture" data-toggle="modal" data-target="#photo-gallery">
            <h3>
              <i class="fas fa-image"></i>
              <%= t('spree.personalize_product.gallery_image') %>
              <%= link_to t('spree.personalize_product.upload'), photo_gallery_path(id: 'photo-gallery'), remote: true, class: 'btn gallery custom-btn img-change-btn'%>
            </h3>
          </label>
        <% end %>

        <div class="layer-scale layer-set">
          <h3>
            <i class="fas fa-crop"></i>
            <%= t('spree.personalize_product.resize') %>
            <span class="value-show">
              <span class="value-span-input"></span>
            </span>
          </h3>
          <%= picture.range_field :custom_width, data: {style: 'scale'}, min: '100', max: 2* @template.width %>
        </div>

        <div class="layer-rotate-image layer-set1">
          <h3 class="btn btn-default img-rotate">
            <div>
              <i class="fas fa-undo"></i>
              <%= t('spree.personalize_product.rotate') %>
            </div>
            <span>0 Deg</span>
          </h3>
          <%= picture.hidden_field :rotate_image, value: '0' %>
        </div>

        <div class="layer-opacity layer-set">
          <h3>
            <i class="fas fa-adjust"></i>
            <%= t('spree.personalize_product.opacity') %>
            <span class="value-show">
              <span class="value-span-input">100</span>%</span>
          </h3>
          <%= picture.range_field :opacity, data: {style: 'opacity'}, min: '0', max: '100' %>
        </div>
        
        <%= picture.hidden_field :product_width, data: {style: 'product_width'} %>
  
        <%= picture.hidden_field :product_height, data: {style: 'product_height'} %>

        <%= picture.hidden_field :product_picture_layer, value: "layer-#{count}" %>
      </div>
    </div>
  <% end %>
</div>
