<div class="dropdown layer-dropdown-toggle">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <%= t('spree.personalize_product.please_select') %>
  </button>
  <ul class="dropdown-menu layer-dropdown-container">

  </ul>
</div>
<div class="layer layer-details-panel disabled">
  <div class="layer-header">
    <div class="layer-name"></div>
    <div class="layer-img"></div>
    <button type="button" class="btn btn-remove btn-dark"><i class="fa fa-trash"></i></button>
  </div>
  <div class="layer-settings">
    <button type="button" class="btn btn-block btn-back-setting"><i class="fas fa-angle-left"></i> <%= t('spree.back') %></button>
    <div class="layer-rotate layer-set">
      <h3>
        <i class="fas fa-undo"></i>
        <%= t('spree.personalize_product.rotate') %>
        <span class="value-show">
          <span class="value-span-input">0</span>Deg</span>
      </h3>
      <input type="range" min="-360" max="360" value="0" data-style="rotate">
    </div>
    <div class="layer-opacity layer-set">
      <h3>
        <i class="fas fa-adjust"></i>
        <%= t('spree.personalize_product.opacity') %>
        <span class="value-show">
          <span class="value-span-input">100</span>%</span>
      </h3>
      <input type="range" min="0" max="100" value="100" data-style="opacity">
    </div>
  </div>
</div>