<div class="product-pictures">    

  <div class="form-group">
    <%= field_container f.object, :background_color do %>
      <% bg_color = @product.template.background_color %>
      <% target_value = bg_color.present? ? bg_color : 'background_color' %>
      <%= f.hidden_field :background_color, data: {effect: target_value } %>
      <%= error_message_on f.object, :background_color %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :background_image do %>
      <%= f.hidden_field :product_background_data %>
      <%= error_message_on f.object, :background_image %>
    <% end %>
  </div>

  <div class="form-group">
    <%= field_container f.object, :product_frame_id do %>
      <%= f.hidden_field :product_frame_id %>
      <%= error_message_on f.object, :product_frame_id %>
    <% end %>
  </div>
</div>
