<div class="sidebar">
  <div class="top-settins-icon">
    <i class="fas fa-sliders-h"></i>
    <%= t('spree.personalize_product.layer_panel') %>
  </div>
  <div class="accordian-tabs-left-panel">
    <div class="accordion layer-panel" id="accordion">

      <!-- Sticker -->
      <% if template_fields_permission?(@template) && flexibility_for_sticker?(@template) %>
        <div class="card">
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body custom-card-body" data-effect="stickers">
              <div class="layer-dropdown">
                <%= render partial: 'product_stickers'  %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Image -->
      <div class="card">
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body custom-card-body" data-effect="cusImage">
            <div class="layer-dropdown">
              <%= render partial: 'product_images', locals: {f: f} %>
            </div>
          </div>
        </div>
      </div>

      <!-- Text Section-->
      <div class="card">
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body custom-card-body" data-effect="text">
            <div class="layer-dropdown">
              <%= render partial: 'template_texts' %>
            </div>
          </div>
        </div>
      </div>

      <!-- Background Section -->
      <% if template_fields_permission?(@template) && flexibility_for_background?(@template) %>
        <%= render partial: 'template_background' %>
      <% end %>
    </div>
  </div>
</div>