<div class="card">
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body custom-card-body" data-effect="background">
      <div class="layer layer-details-panel-bg">
        
        <div class="layer-header text-right">
          <button type="button" class="btn btn-danger btn-drag options-btn">
            <i class="fas fa-lock"></i>
          </button>
        </div>

        <div class="layer-settings">
          <button type="button" class="btn btn-block btn-back-setting"><i class="fa fa-angle-left"></i><%= t('spree.personalize_product.layer_back') %></button>

          <label class="layer-set1 btn-change-pic layer-bg" data-picture="background">
            <h3>
              <i class="fas fa-image"></i>
              <%= t('spree.template.upload_background') %>
              <span class="btn btn-default custom-btn img-change-btn"><%= t('spree.select') %></span>
            </h3>
            <input class="hidden-all" type="file">
          </label>

          <label class="bg-patterns">
            <h3><%= t('spree.personalize_product.background_pattern') %></h3>
            <% count = 0 %>
            <%= display_no_content_msg if @background_patterns.blank? %>
            <div class="background-images">
              <% @background_patterns.each do |bg_pattern| %>
                <% count += 1 %>
                <%= image_tag bg_pattern.image.url(:original), class: 'background-patterns', data:{'layer-doc': "bg-layer-#{count}", toggle: "tooltip", id: bg_pattern.id }, title: t('spree.background_pattern.notice') %>
              <% end %>
            </div>  
          </label>

          <label class="mt-2">
            <h3><%= t('spree.personalize_product.remove_bg_img') %>
              <span class="remove_background_checkbox_content">
                <input type="checkbox" class="remove_background_image">
                <span class="overlay_checkbox_spn"></span>
              </span>
            </h3>
            
            <div class="background-color" style="margin-top: -20px">
              <input type="text" class="colorpicker" id="background-color" data-style="bgcolor" />
            </div>            
          </label>

        </div>
      </div>
    </div>
  </div>
</div>