<div class="dropdown layer-dropdown-toggle">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <%= t('spree.personalize_product.please_select') %>
  </button>
  <ul class="layer-dropdown-container dropdown-menu">
    <% @product.template.template_texts.each_with_index do |template_text, count| %>
      <% count += 1 %>
      <li data-layer-doc="layer-text-<%= count%>" data-fontsize="<%= template_text.font_size %>">
        <span class="layer-left"><%= t('spree.personalize_product.text') %>-<%= count %></span>
        <span class="layer-right">
          <i class="fa fa-eye"></i>
          <%= image_tag "spree/frontend/text.png" %>
        </span>
      </li>
    <% end %>
  </ul>
  <% @product.template.template_texts.each_with_index do |template_text, count| %>
    <%= hidden_field_tag "font", template_text.font_family, class: 'font d-none' %>
  <% end %>
</div>
<div class="layer layer-details-panel disabled" id="layerDetailsPanel" data-image-path="<%= image_path"spree/frontend/text.png"%>">
  <div class="layer-header">
    <div class="layer-img"></div>
    <div class="layer-name"></div>
    <% if flexibility_for_text?(@template)%>
      <button type="button" class="btn btn-remove btn-dark"><i class="fa fa-trash"></i></button>
    <% end %>
  </div>
  <div class="layer-settings">
    <button type="button" class="btn btn-block btn-back-setting"><i class="fas fa-angle-left"></i> back</button>
    <div class="layer-textproperties layer-set">
      <h3><i class="fas fa-align-justify"></i><%= t('spree.personalize_product.font_style') %></h3>
      <input type="hidden" data-style="textalign" value="">
      <input type="hidden" data-style="fontweight" value="">
      <input type="hidden" data-style="fontitalic" value="">
      <input type="hidden" data-style="fontunderline" value="">
      <ul class="text-styles">
        <li data-textstyle="color">
          <input type="text" class="font-colorpicker" data-style="fontcolor" />
          <i class="fas fa-vial"></i>
          <span style="background-color: #333" class="color"></span>
        </li>
        <li data-textstyle="bold">
          <i class="fas fa-bold"></i>
        </li>
        <li data-textstyle="italic">
          <i class="fas fa-italic"></i>
        </li>
        <li data-textstyle="underline">
          <i class="fas fa-underline"></i>
        </li>
      </ul>

      <ul class="text-properties">
        <li data-aligntext="left">
          <i class="fas fa-align-left"></i>
        </li>
        <li data-aligntext="center">
          <i class="fas fa-align-center"></i>
        </li>
        <li data-aligntext="right">
          <i class="fas fa-align-right"></i>
        </li>
        <li data-aligntext="justify">
          <i class="fas fa-align-justify"></i>
        </li>
      </ul>
    </div>

    <div class="layer-fontsize layer-set">
      <h3>
        <i class="fas fa-text-width"></i>
        <%= t('spree.personalize_product.font_size') %>
        <span class="value-show">
          <span class="value-span-input">14</span>px</span>
      </h3>
      <input type="range" min="50" max="500" value="76" data-style="fontsize">
    </div>
    
    <% if flexibility_for_text?(@template)%>
      <div class="layer-fontstyle layer-set">
        <h3>
          <i class="fas fa-font"></i>
          <%= t('spree.personalize_product.font_family') %>
        </h3>
        <input type="hidden" data-style="fontfamily" value="">
        <input class="google-font" type="text" name="font_family">
      </div>
    <% end %>

    <div class="layer-lineheight layer-set">
      <h3>
        <i class="fas fa-text-height"></i>
        <%= t('spree.personalize_product.line_height') %>
        <span class="value-show">
            <span class="value-span-input">auto/14</span>px</span>
      </h3>
      <input type="range" min="1" max="2" step="0.1" value="1" data-style="lineheight">
    </div>

    <% if flexibility_for_text?(@template)%>

      <div class="layer-rotate layer-set">
        <h3>
          <i class="fas fa-undo"></i>
          <%= t('spree.personalize_product.rotate') %>
            <span class="value-show">
              <span class="value-span-input">0</span>
              <%= t('spree.personalize_product.degree') %>
            </span>
        </h3>
        <input type="range" min="-360" max="360" value="0" data-style="rotate">
      </div>

      <div class="layer-opacity layer-set">
        <h3>
          <i class="fas fa-adjust"></i>
          <%= t('spree.personalize_product.opacity') %>
          <span class="value-show">
            <span class="value-span-input">100</span>%</span>
        </h3>
        <input type="range" min="0" max="100" value="100" data-style="opacity">
      </div>
    <% end %>
  </div>
</div>