<% if !@new_product.nil? %>
  var displayMessage = "<%= I18n.t('spree.personalize_product.successfully_created') %>";
  var displayTitle = 'Success';
  $('.add-to-cart-form').html("<%= escape_javascript (render partial: 'add_to_cart_form', locals: {personalize_product: @new_product}) %>");
  $('#add-to-cart-button').trigger('click');
  $('.loader-bg').addClass('d-none');
<% else %>
  var displayMessage = "<%= I18n.t('spree.personalize_product.create_error') %>";
  var displayTitle = 'Error';
  $('.loader-bg').addClass('d-none');
  $('.close').trigger('click');
<% end %>
new PNotify({
  title: displayTitle,
  text: displayMessage,
  buttons: {
   sticker: false
  }
});
