body {
  background: #f3f3f3; }

.gxp-header .navbar-brand {
  padding: 0px;
  margin: 0px; }
.gxp-header .navbar {
  padding: 0px;
  background: #013b60; }
  .gxp-header .navbar .navbar-nav .nav-link {
    color: #f3f3f3; }
  .gxp-header .navbar .navbar-nav .active .nav-link {
    font-weight: 600; }

.gxp-main-content {
  padding: 50px 0px; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d6d6d6; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px; }

input[type=range]::-moz-range-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6; }

input[type=range]::-ms-fill-upper {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6; }

input[type=range]::-ms-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #d6d6d6; }

input[type=range]:focus::-ms-fill-upper {
  background: #d6d6d6; }

.form-content, .template-preview {
  background: #fff;
  padding: 30px;
  border-radius: 15px; }

.form-content .form-group label {
  width: 100%; }
  .form-content .form-group label span {
    float: right;
    border: 1px solid #333;
    padding: 0 10px;
    min-height: 28px;
    min-width: 80px;
    border: 1px dashed #bdbdbd;
    text-align: center; }

.template-preview {
  text-align: center;
  min-height: 640px; }
  .template-preview h2 {
    font-size: 18px;
    text-align: left; }
  .template-preview .preview-shape {
    border: 1px solid #333;
    margin: 50px auto;
    width: 0;
    height: 0;
    padding: 1px;
    display: none;
    position: relative; }

.preview-filter {
  position: relative; }
  .preview-filter img {
    width: 100%; }
  .preview-filter .filter-div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.3; }

.filter-preview {
  background: #fff;
  padding: 30px;
  border-radius: 15px; }
  .filter-preview h2 {
    font-size: 18px;
    text-align: left; }

.input-color-grp .input-group-addon {
  width: 100px;
  border: 1px solid #ced4da;
  line-height: 1.5; }

.gxp-footer {
  padding: 11px 0;
  text-align: center;
  background: #013b60;
  color: #fff;
  font-size: 12px;
  position: fixed;
  top: initial;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.gradientbox {
  display: none; }

.gradientStrip {
  height: 38px;
  width: 100%;
  background: url(../img/png-pattern.png);
  border: 1px solid #ced4da; }
  .gradientStrip .gradient-strip-color {
    width: 100%;
    height: 100%; }

.preview-filter-png canvas {
  width: 100% !important; }

.disabled.layer-settings {
  opacity: 0.6;
  pointer-events: none; }

.layer-dropdown-admin .dropdown-toggle::after {
  right: 15px;
  position: absolute;
  top: 15px;
  pointer-events: none; }

.layer-dropdown-admin .dropdown-menu {
  width: 100%; }

.preview-inner-img {
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0; }

.final-temp-img canvas {
  width: 100% !important;
  height: auto !important; }

/*# sourceMappingURL=gxpadmin.css.map */
