/*body*/
body {
  background: #f3f3f3;
  font-family: open sans !important; }

/* Sidebar */
.top-settins-icon {
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  background: #eab83b;
  color: #383838;
  font-weight: bold;
  text-transform: uppercase; }

.top-settins-icon .fas {
  margin-right: 10px;
  font-size: 26px;
  vertical-align: top; }

.main-layout {
  padding: 100px 0px 0px 0px;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms; }
  @media screen and (max-width: 1360px) {
    .main-layout {
      padding: 75px 0px 0px 0px; } }

.main-layout.sb-active {
  padding-left: 290px; }

@media screen and (max-width: 991px) {
  .main-layout {
    padding: 102px 15px 15px 15px !important; } }

.sidebar {
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: -290px;
  right: initial;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms;
  width: 290px;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  height: calc(100%);
  z-index: -1;
  background: rgba(255, 255, 255, 0.9); }
  .sidebar .card {
    border: none;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 0px; }
  .sidebar .card-body {
    background: #f3f3f3; }
  .sidebar .card-header {
    padding: 0;
    border: none;
    background: none; }
    .sidebar .card-header .btn {
      width: 100%;
      text-align: left;
      text-decoration: none !important;
      color: #333;
      position: relative; }
      .sidebar .card-header .btn::before {
        content: "\f107";
        font-family: fontAwesome;
        position: absolute;
        top: 0px;
        bottom: initial;
        left: initial;
        right: 0px;
        color: #b2b2b2;
        font-size: 20px;
        padding: 3px 10px;
        transition: all ease-in-out 400ms;
        -webkit-transition: all ease-in-out 400ms;
        -moz-transition: all ease-in-out 400ms;
        -ms-transition: all ease-in-out 400ms;
        -o-transition: all ease-in-out 400ms; }
      .sidebar .card-header .btn[aria-expanded=true]::before {
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  @media screen and (max-width: 500px) {
    .sidebar {
      width: 230px; } }

.sidebar-collapsed-icons {
  position: fixed;
  left: 0;
  top: 100px;
  overflow-y: auto;
  z-index: 99;
  padding: 30px 0px;
  background: #fff;
  height: -moz-calc(100% - 184px);
  height: -webkit-calc(100% - 184px);
  height: calc(100% - 184px);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms;
  box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 1360px) {
    .sidebar-collapsed-icons {
      top: 75px;
      height: -moz-calc(100% - 160px);
      height: -webkit-calc(100% - 160px);
      height: calc(100% - 160px); } }
  @media screen and (max-width: 991px) {
    .sidebar-collapsed-icons {
      top: 102px;
      height: -moz-calc(100% - 102px);
      height: -webkit-calc(100% - 102px);
      height: calc(100% - 102px); } }
  .sidebar-collapsed-icons ul {
    list-style: none;
    padding: 0; }
    .sidebar-collapsed-icons ul li {
      width: 60px;
      height: 60px;
      padding: 10px;
      border-radius: 100%;
      background: #333;
      margin: 10px;
      cursor: pointer; }
      @media screen and (max-height: 725px) {
        .sidebar-collapsed-icons ul li {
          width: 80px;
          width: 50px;
          height: 50px;
          margin: 10px 5px; } }
      @media screen and (max-width: 991px) {
        .sidebar-collapsed-icons ul li {
          width: 80px;
          width: 50px;
          height: 50px;
          margin: 10px 5px; } }
      .sidebar-collapsed-icons ul li:first-child {
        background: #0fa798; }
      .sidebar-collapsed-icons ul li:nth-child(2) {
        background: #f2c02b; }
      .sidebar-collapsed-icons ul li:nth-child(3) {
        background: #f39d36; }
      .sidebar-collapsed-icons ul li:nth-child(4) {
        background: #f3764a; }
      .sidebar-collapsed-icons ul li:nth-child(5) {
        background: #ef5354; }
      .sidebar-collapsed-icons ul li img {
        width: 100%; }
    .sidebar-collapsed-icons ul .sb-col-icon {
      color: #fff;
      text-align: center; }
      .sidebar-collapsed-icons ul .sb-col-icon .fas {
        font-size: 18px;
        padding: 10px; }

.create-new + .sidebar {
  height: -moz-calc(100% - 184px);
  height: -webkit-calc(100% - 184px);
  height: calc(100% - 184px); }
  @media screen and (max-width: 991px) {
    .create-new + .sidebar {
      height: -moz-calc(100% - 60px);
      height: -webkit-calc(100% - 60px);
      height: calc(100% - 60px);
      top: 60px; } }

@media screen and (max-width: 500px) {
  .start-up .create-new-form {
    width: auto; }
  .start-up .main-header .navbar {
    flex-wrap: nowrap;
    height: 60px; }
    .start-up .main-header .navbar .nav-item .nav-link {
      height: 60px;
      width: 60px; }
    .start-up .main-header .navbar .nav-header {
      flex: none; }
      .start-up .main-header .navbar .nav-header h3 {
        font-size: 14px;
        padding-left: 10px; }
  .start-up .logo-sb {
    height: 60px; }
  .start-up .instruction-new {
    left: 0;
    right: 0;
    width: auto;
    bottom: 0; } }

@media screen and (max-width: 991px) {
  .start-up + .sidebar {
    top: 75px;
    height: -moz-calc(100% - 75px);
    height: -webkit-calc(100% - 75px);
    height: calc(100% - 75px); } }
@media screen and (max-width: 500px) {
  .start-up + .sidebar {
    top: 60px;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px); } }

.sidebar.sidebar-active {
  left: 0px;
  z-index: 99;
  box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25); }

.logo-sb {
  text-align: center;
  margin-right: 2px; }
  .logo-sb img {
    max-width: 100%; }

.accordian-tabs-left-panel {
  overflow-y: auto;
  overflow-x: hidden;
  height: -moz-calc(100% - 47px);
  height: -webkit-calc(100% - 47px);
  height: calc(100% - 47px); }

.toggle-sidebar-inner {
  position: absolute;
  right: 0px;
  width: 47px;
  height: 47px;
  background: #01395a;
  top: 0;
  text-align: center; }

.toggle-sidebar-inner a {
  height: 100%;
  padding: 16px 0;
  color: #fff; }

/* Sidebar end */
/* Header */
.main-header .navbar {
  height: 100px;
  padding: 0px;
  background: #01395a;
  color: #fff;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms;
  padding-right: 15px; }
  @media screen and (max-width: 1360px) {
    .main-header .navbar {
      height: 75px; } }
  @media screen and (max-width: 400px) {
    .main-header .navbar .container {
      padding: 0px; } }
  .main-header .navbar .nav-header {
    flex-grow: 11; }
    .main-header .navbar .nav-header h3 {
      font-size: 20px; }
  .main-header .navbar .nav-item .nav-link {
    padding: 10px;
    font-size: 26px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; }
    @media screen and (max-width: 1360px) {
      .main-header .navbar .nav-item .nav-link {
        height: 75px; }
        .main-header .navbar .nav-item .nav-link > img {
          width: 43px; } }
  .main-header .navbar .nav-item .hover-items {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #fff;
    overflow-x: auto;
    margin: 0px;
    white-space: nowrap; }
  .main-header .navbar .nav-item .item-hvr {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 15px;
    cursor: pointer; }
  .main-header .navbar .nav-item .item-icon {
    border-radius: 10px;
    overflow: hidden; }
  .main-header .navbar .nav-item:hover .nav-link, .main-header .navbar .nav-item.slide-active .nav-link {
    color: #333;
    background: #fff; }
    .main-header .navbar .nav-item:hover .nav-link img, .main-header .navbar .nav-item.slide-active .nav-link img {
      filter: invert(100%);
      -webkit-filter: invert(100%);
      -moz-filter: invert(100%); }

.main-layout.sb-active .hover-items {
  width: 100%; }

.create-new .doc-details {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  max-width: 300px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .create-new .doc-details .doc-name {
    padding: 20px; }
  .create-new .doc-details .save-btn {
    padding: 28px 38px 13px;
    cursor: pointer;
    font-size: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center; }
    .create-new .doc-details .save-btn span {
      display: block;
      font-size: 14px;
      margin-top: 12px; }
      @media screen and (max-width: 1360px) {
        .create-new .doc-details .save-btn span {
          margin-top: 7px; } }
  @media screen and (max-width: 991px) {
    .create-new .doc-details .doc-name {
      display: none; } }
.create-new .navbar-nav {
  flex-direction: row; }
.create-new .navbar {
  flex-wrap: nowrap; }
  .create-new .navbar .nav-links {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    overflow: hidden; }
    .create-new .navbar .nav-links .nav-item .nav-link {
      border-right: 1px solid rgba(255, 255, 255, 0.2); }
      .create-new .navbar .nav-links .nav-item .nav-link i {
        width: 62px;
        height: 62px;
        line-height: 62px;
        text-align: center; }
    .create-new .navbar .nav-links .nav-item span {
      font-size: 14px; }
    .create-new .navbar .nav-links .nav-item.others-link .nav-link i {
      line-height: 42px; }
      @media screen and (max-width: 991px) {
        .create-new .navbar .nav-links .nav-item.others-link .nav-link i {
          line-height: 35px;
          font-size: 20px; } }
  @media screen and (max-width: 991px) {
    .create-new .navbar {
      height: 60px; }
      .create-new .navbar .doc-details {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        max-width: 50px; }
        .create-new .navbar .doc-details .save-btn {
          padding: 12px;
          font-size: 12px; }
          .create-new .navbar .doc-details .save-btn .fas {
            margin: 11px; }
          .create-new .navbar .doc-details .save-btn span {
            font-size: 12px;
            margin: 0px; }
      .create-new .navbar .nav-links .logo-sb {
        height: 60px;
        width: 55px;
        overflow: hidden; }
      .create-new .navbar .nav-links .nav-item .nav-link {
        width: 50px;
        height: 60px; }
        .create-new .navbar .nav-links .nav-item .nav-link img {
          width: 35px; }
        .create-new .navbar .nav-links .nav-item .nav-link span {
          font-size: 12px; } }

@media screen and (max-width: 1360px) {
  .logo-sb img {
    height: 100%;
    max-width: initial; }

  .logo-sb {
    text-align: center;
    height: 75px; } }
.sb-active .navbar .nav-links .nav-item .nav-link .fa-bars::before {
  content: "\f00d"; }

/*main-content*/
.instruction-new {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 1px 2px 14px rgba(51, 51, 51, 0.27); }
  .instruction-new p {
    font-size: 14px; }
  .instruction-new h4 {
    font-size: 16px; }
  .instruction-new #disable-instructions {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 12px;
    padding: 10px;
    cursor: pointer; }

.main-content {
  height: -moz-calc(100vh - 100px);
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px);
  position: relative;
  overflow: auto; }
  @media screen and (max-width: 1360px) {
    .main-content {
      height: -moz-calc(100vh - 75px);
      height: -webkit-calc(100vh - 75px);
      height: calc(100vh - 75px); } }
  @media screen and (max-width: 991px) {
    .main-content {
      height: -moz-calc(100vh - 118px);
      height: -webkit-calc(100vh - 118px);
      height: calc(100vh - 118px); } }

.create-new-form {
  position: absolute;
  top: 50%;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 400px;
  background: #fff;
  padding: 30px;
  height: 365px;
  border-radius: 30px;
  overflow-y: auto; }
  .create-new-form .select-links {
    display: none; }
    .create-new-form .select-links .btn {
      width: 100%;
      border: 1px solid #bebebe;
      padding: 10px;
      border-radius: 15px;
      color: #333;
      margin-bottom: 15px; }
      .create-new-form .select-links .btn input {
        display: none; }
      .create-new-form .select-links .btn:hover {
        background: #d8d8d8;
        color: #252525; }
      .create-new-form .select-links .btn:last-child {
        margin: 0px; }
      .create-new-form .select-links .btn img {
        display: block;
        margin: 0 auto; }
    .create-new-form .select-links.active {
      display: block; }

.new-document {
  position: absolute;
  top: 50%;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 800px;
  height: 600px;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms; }
  @media screen and (max-height: 725px) {
    .new-document {
      transform: none;
      top: 0;
      margin: 15px auto; } }
  .new-document .scale-doc-section {
    background: url(../img/png-pattern.png);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms; }
  .new-document.savingFinalImage {
    position: fixed !important;
    top: 0px !important;
    transform: none !important; }
    .new-document.savingFinalImage .scale-doc-section {
      transform: none !important; }

.doc-scale {
  position: fixed;
  top: initial;
  bottom: 0px;
  left: 0px;
  right: initial;
  padding: 15px 2px;
  text-align: center;
  background: #f3f3f3;
  box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25);
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  -o-transition: all ease-in-out 400ms; }
  .doc-scale .current-size {
    display: none;
    border: 1px solid #b7b7b7;
    padding: 5px 25px;
    border-radius: 6px;
    font-weight: 600;
    color: #8e8e8e; }
  .doc-scale .btn {
    background: none;
    border: 1px solid #b7b7b7;
    padding: 9px;
    vertical-align: top;
    color: #8e8e8e; }
  @media screen and (max-width: 991px) {
    .doc-scale {
      width: 230px;
      padding: 5px;
      top: 60px;
      bottom: initial;
      right: 0;
      width: 100%;
      text-align: center; }
      .doc-scale .current-size, .doc-scale .btn {
        font-size: 12px; } }

.sb-active .doc-scale {
  padding: 24px;
  width: 290px; }
  .sb-active .doc-scale .current-size {
    display: inline-block; }

.sidebar-active + .sidebar-collapsed-icons {
  left: -80px; }

.main-img-layer {
  overflow: hidden;
  z-index: 0; }
  .main-img-layer img {
    width: 100%; }

#filter-main-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
  user-select: none; }

.draggable {
  position: relative !important; }

.filter-one {
  background: url(../img/filter-01.png); }

.filter-two {
  background: url(../img/filter-02.png); }

.filter-three {
  background: url(../img/filter-03.png); }

.filter-four {
  background: url(../img/filter-02.png); }

.filter-five {
  background: url(../img/filter-01.png); }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d6d6d6; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #d6d6d6;
  border-radius: 1.3px; }

input[type=range]::-moz-range-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6; }

input[type=range]::-ms-fill-upper {
  background: #d6d6d6;
  border: 0.2px solid #d6d6d6;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6; }

input[type=range]::-ms-thumb {
  border: 3px solid #d6d6d6;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #d6d6d6; }

input[type=range]:focus::-ms-fill-upper {
  background: #d6d6d6; }

.layer-filter h3, .layer-bg h3 {
  font-size: 16px; }

.layer-bg label {
  width: 100%; }
.layer-bg .btn {
  box-shadow: 1px 1px 4px #333;
  border-radius: 15px;
  float: right;
  margin-left: 10px; }

.hidden-all {
  display: none !important; }

.layer-dropdown h3 {
  font-size: 16px; }
  .layer-dropdown h3 span.value-show {
    float: right;
    width: 67px;
    height: 25px;
    border: 1px solid rgba(51, 51, 51, 0.18);
    font-size: 12px;
    line-height: 25px;
    text-align: center; }
.layer-dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
  position: relative;
  background: #fff; }
  .layer-dropdown .dropdown-toggle:focus {
    box-shadow: none; }
  .layer-dropdown .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 16px; }
.layer-dropdown .dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 0px;
  max-height: 90px;
  overflow: auto; }
  .layer-dropdown .dropdown-menu li {
    padding: 5px 20px;
    font-weight: 600;
    font-style: italic;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .layer-dropdown .dropdown-menu li .layer-left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 100%; }
    .layer-dropdown .dropdown-menu li .layer-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      max-width: 70px; }
      .layer-dropdown .dropdown-menu li .layer-right .fa {
        padding: 6px 10px; }
      .layer-dropdown .dropdown-menu li .layer-right img {
        width: 30px;
        height: 30px; }

.layer {
  background: #fff;
  border-radius: 10px;
  padding: 20px; }

.layer-doc {
  position: absolute !important;
  top: 0px;
  width: 200px;
  height: 200px; }
  .layer-doc img {
    width: 100%;
    height: 100%; }
  .layer-doc span.doc-layer-name {
    position: absolute !important;
    top: -30px !important;
    color: #fff !important;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    display: none !important;
    font-family: open sans !important; }
  .layer-doc.active-layer {
    border: 1px dashed #777; }
    .layer-doc.active-layer span.doc-layer-name {
      display: block !important; }
    .layer-doc.active-layer .ui-resizable-se {
      border: 1px solid #777; }
    .layer-doc.active-layer .ui-resizable-e::before, .layer-doc.active-layer .ui-resizable-w::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 1px;
      border: 1px solid #777; }
    .layer-doc.active-layer .ui-resizable-w::before {
      left: 6px; }
    .layer-doc.active-layer .ui-resizable-w::after {
      content: '';
      position: absolute !important;
      width: 12px;
      height: 12px;
      bottom: 1px;
      border: 1px solid #777;
      left: 6px; }
    .layer-doc.active-layer .ui-resizable-e::before {
      right: 6px; }
    .layer-doc.active-layer .editText {
      display: block;
      color: #333 !important; }

.layer-text {
  height: auto;
  width: 300px; }
  .layer-text .text-content {
    overflow: hidden;
    height: 100%; }
  .layer-text span, .layer-text strong, .layer-text div {
    font-weight: inherit !important;
    color: inherit !important;
    background: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    text-align: inherit !important;
    line-height: inherit !important; }
  .layer-text .editText {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px !important;
    padding: 5px; }
  .layer-text.active-layer {
    padding: 0px 25px 7px 7px; }

.layer-hidden {
  display: none !important; }

.layer-details-panel.disabled {
  pointer-events: none;
  opacity: 0.5; }

.layer-details-panel-bg h3 {
  font-size: 16px; }
  .layer-details-panel-bg h3 span.value-show {
    float: right;
    width: 67px;
    height: 25px;
    border: 1px solid rgba(51, 51, 51, 0.18);
    font-size: 12px;
    line-height: 25px;
    text-align: center; }

.layer-details-panel .layer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-style: italic;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  margin: -7px -20px 15px;
  padding: 0 20px 9px; }
  .layer-details-panel .layer-header .layer-name {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%; }
  .layer-details-panel .layer-header .layer-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    max-width: 30px;
    height: 30px;
    overflow: hidden; }
    .layer-details-panel .layer-header .layer-img img {
      width: 100%; }

.layer-fontstyle .dropdown-toggle {
  border: 1px solid rgba(51, 51, 51, 0.33);
  margin-top: 5px; }
.layer-fontstyle .font-dropdown .active {
  background: #01395a;
  color: #fff; }

.layer-textproperties ul {
  padding: 0px; }
  .layer-textproperties ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #333;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    color: #828282;
    cursor: pointer;
    position: relative; }
    .layer-textproperties ul li.active {
      background: #01395a;
      color: #fff; }
    .layer-textproperties ul li:last-child {
      margin: 0px; }
    .layer-textproperties ul li .color-picker {
      opacity: 0;
      margin: 0px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0; }
      .layer-textproperties ul li .color-picker input {
        width: 100%; }
    .layer-textproperties ul li .color {
      position: absolute;
      top: initial;
      bottom: 3px;
      left: 0px;
      right: 0px;
      height: 4px;
      width: 20px;
      margin: 0 auto; }

.colorpicker {
  z-index: 9999999999; }

.final-img {
  max-width: 290px;
  margin: 0 auto 30px;
  padding: 10px;
  border: 1px solid #333; }
  .final-img canvas {
    width: 100% !important;
    height: auto !important; }

.modal-save {
  z-index: 999999; }
  .modal-save .modal-body .btn {
    width: 100%;
    padding-left: 50px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none; }
    .modal-save .modal-body .btn:hover {
      background: #cecece; }
    .modal-save .modal-body .btn .fas {
      position: absolute;
      left: 0px;
      width: 50px;
      top: 0px;
      padding: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.3); }
  .modal-save .modal-content {
    border-radius: 0px; }
  .modal-save .modal-header {
    border-radius: 0px;
    background: #01395a;
    color: #fff; }
    .modal-save .modal-header .modal-title {
      font-size: 16px;
      font-weight: normal; }
    .modal-save .modal-header .close {
      color: #fff;
      text-shadow: none;
      opacity: 1; }

.modal-backdrop {
  z-index: 99999; }

.loader-na {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999999999999999999;
  background: #0080cc;
  display: none; }
  .loader-na img {
    position: absolute;
    top: 50%;
    bottom: initial;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.draggableonly {
  pointer-events: none;
  user-select: none; }

.bg-drag {
  display: inline-block;
  width: 100%; }
  .bg-drag h3 {
    display: inline-block; }
  .bg-drag .btn {
    float: right; }

.layer-image {
  overflow: hidden;
  height: auto; }
  .layer-image img {
    width: 100%;
    height: auto;
    position: relative; }

.parent-mult-img {
  width: 100%;
  height: 100%;
  overflow: hidden; }

span.filename {
  font-size: 12px;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 98px; }

.bg-colorpicker {
  position: relative;
  float: right; }
  .bg-colorpicker input {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0; }
  .bg-colorpicker span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #333; }

.layer-details-panel-bg .bg-drag {
  margin-bottom: 20px; }

.bg-color-settings {
  display: inline-block; }

a.nav-link.btn-toggle-sb {
  margin-right: 2px; }

@media screen and (max-width: 991px) {
  .bottom-panel-aligned {
    padding: 0; }
    .bottom-panel-aligned .sidebar-toggle {
      display: none; }
    .bottom-panel-aligned .main-layout {
      padding: 90px 10px 50px !important;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
    .bottom-panel-aligned .main-content {
      height: 100%; }
    .bottom-panel-aligned .sidebar-collapsed-icons {
      bottom: 0;
      right: 0;
      top: initial;
      height: auto;
      padding: 0;
      background: none;
      box-shadow: none; }
      .bottom-panel-aligned .sidebar-collapsed-icons ul {
        padding: 0;
        margin: 0;
        margin-right: 0;
        text-align: center; }
        .bottom-panel-aligned .sidebar-collapsed-icons ul li {
          display: inline-block;
          width: 60px;
          height: 40px;
          border-radius: 0;
          padding: 2px 11px;
          vertical-align: middle;
          margin: 0; }
          .bottom-panel-aligned .sidebar-collapsed-icons ul li.active {
            background: #f3f3f3; }
            .bottom-panel-aligned .sidebar-collapsed-icons ul li.active .fas {
              color: #333; }
            .bottom-panel-aligned .sidebar-collapsed-icons ul li.active img {
              filter: grayscale(100%) invert(100%); }
    .bottom-panel-aligned .sidebar-active + .sidebar-collapsed-icons {
      left: 0;
      bottom: 0px; }
    .bottom-panel-aligned .sidebar {
      right: 0;
      top: initial;
      left: 0;
      width: 100%;
      background: none;
      box-shadow: none;
      height: auto;
      z-index: 9;
      bottom: 40px; }
      .bottom-panel-aligned .sidebar.sidebar-active {
        right: 0;
        top: initial;
        height: auto; }
      .bottom-panel-aligned .sidebar .accordian-tabs-left-panel {
        overflow: auto; }
      .bottom-panel-aligned .sidebar .accordion {
        text-align: center;
        white-space: nowrap; }
        .bottom-panel-aligned .sidebar .accordion .card {
          vertical-align: bottom;
          width: 316px;
          display: none;
          margin: 0 auto;
          margin-right: auto; }
        .bottom-panel-aligned .sidebar .accordion .card-body {
          padding: 0px; }
    .bottom-panel-aligned .top-settins-icon {
      display: none; }
    .bottom-panel-aligned .new-document {
      margin: 0 auto !important; }
    .bottom-panel-aligned .layer-dropdown {
      padding: 0px;
      background: #f3f3f3; }
    .bottom-panel-aligned .layer-settings {
      white-space: nowrap;
      overflow: auto;
      text-align: left; }
      .bottom-panel-aligned .layer-settings .layer-set {
        display: inline-block;
        vertical-align: middle; }
        .bottom-panel-aligned .layer-settings .layer-set input, .bottom-panel-aligned .layer-settings .layer-set .text-styles, .bottom-panel-aligned .layer-settings .layer-set .text-properties, .bottom-panel-aligned .layer-settings .layer-set .dropdown, .bottom-panel-aligned .layer-settings .layer-set .btn-oval, .bottom-panel-aligned .layer-settings .layer-set .btn-change-pic, .bottom-panel-aligned .layer-settings .layer-set .bg-colorpicker {
          display: none; }
        .bottom-panel-aligned .layer-settings .layer-set h3 {
          text-align: center;
          padding: 5px;
          border: 1px solid #333;
          font-size: 9px;
          font-weight: 600;
          width: 70px;
          height: 55px;
          border-radius: 5px;
          white-space: normal;
          cursor: pointer; }
          .bottom-panel-aligned .layer-settings .layer-set h3 .fas {
            display: block;
            font-size: 20px;
            margin: 5px 0 3px; }
          .bottom-panel-aligned .layer-settings .layer-set h3 span {
            display: none; }
      .bottom-panel-aligned .layer-settings .btn-back-setting {
        display: none; }
      .bottom-panel-aligned .layer-settings.effect-active .btn-back-setting {
        display: inline-block;
        padding: 3px 0px;
        margin-bottom: 10px;
        width: auto;
        background: none;
        color: #333; }
      .bottom-panel-aligned .layer-settings.effect-active .layer-set {
        display: none; }
        .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect {
          display: block; }
          .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect h3 {
            display: none; }
          .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect input, .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .dropdown, .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .btn-oval, .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .btn-change-pic, .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .bg-colorpicker {
            display: block; }
          .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .text-styles, .bottom-panel-aligned .layer-settings.effect-active .layer-set.active-layer-effect .text-properties {
            display: inline-block;
            vertical-align: top; }
    .bottom-panel-aligned .layer-details-panel-bg .layer-header {
      text-align: right;
      padding: 0 0 10px; }
    .bottom-panel-aligned .layer-details-panel-bg .layer-settings .layer-set h3 {
      padding: 1px 5px;
      margin: 0; }
    .bottom-panel-aligned .layer {
      padding: 10px; }
      .bottom-panel-aligned .layer.disabled .btn-pos, .bottom-panel-aligned .layer.disabled .layer-header {
        display: none; }
    .bottom-panel-aligned .layer-details-panel .layer-header {
      margin: 0px 0 5px;
      padding: 0px;
      text-align: left;
      border: none; }
      .bottom-panel-aligned .layer-details-panel .layer-header .btn {
        margin-left: 5px; }
    .bottom-panel-aligned .layer-name {
      padding-left: 5px; }
    .bottom-panel-aligned .doc-scale {
      padding: 0;
      box-shadow: none;
      background: none;
      z-index: 999; }
      .bottom-panel-aligned .doc-scale .btn {
        border: none; }
        .bottom-panel-aligned .doc-scale .btn:focus {
          box-shadow: none; }
    .bottom-panel-aligned .layer-textproperties ul li {
      width: 33px;
      padding: 10px 8px;
      margin: 0; } }
.hvr-active-layer .doc-scale {
  visibility: hidden; }

.options-btn {
  margin-right: 2px;
  background: transparent;
  border: 0;
  color: #5f5f5f;
  padding: 5px 5px; }

.options-btn:focus {
  box-shadow: none; }

.options-btn:hover, .options-btn:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000 !important;
  box-shadow: none !important; }

.custom-btn {
  background: #01395a;
  color: #fff;
  border-radius: 4px; }

.img-change-btn {
  font-size: 11px;
  border-radius: 4px;
  letter-spacing: 0.4px; }

@media (min-width: 992px) {
  .value-show {
    border-radius: 5px;
    line-height: 24px !important; }

  .layer {
    padding: 16px 7px 15px 7px; }

  ul.test-sidebar-ul li {
    background-color: #01395a; }

  .img-icn-li div {
    padding: 0px 4px; }

  .img-icn-li i {
    font-size: 35px;
    color: #fff;
    line-height: 63px; }

  .sidebar-accoridian {
    height: auto;
    bottom: auto; }

  .layer-details-panel .layer-header {
    margin: -7px 0px 14px;
    padding: 0 0px 9px; }

  .bottom-panel-aligned {
    padding: 0; }
    .bottom-panel-aligned .custom-card-body {
      padding: 7px; }
      .bottom-panel-aligned .custom-card-body button.btn.dropdown-toggle {
        margin-bottom: 6px; }
    .bottom-panel-aligned .hover-items {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
    .bottom-panel-aligned .sidebar-toggle {
      position: fixed;
      top: 115px;
      left: 15px;
      padding: 15px;
      background: #fff;
      font-size: 20px;
      border-radius: 7px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      color: #01395a;
      cursor: pointer;
      transition: all ease-in-out 400ms; }
      .bottom-panel-aligned .sidebar-toggle.active {
        left: 305px; }
    .bottom-panel-aligned .doc-scale {
      left: auto;
      right: 0px; }
    .bottom-panel-aligned .accordian-tabs-left-panel {
      height: 100%; }
    .bottom-panel-aligned .top-settins-icon {
      display: none; }
    .bottom-panel-aligned .btn-back-setting {
      display: none; }
    .bottom-panel-aligned .layer-dropdown h3 .fas, .bottom-panel-aligned .layer-settings h3 .fas {
      display: none; }
    .bottom-panel-aligned .sidebar-collapsed-icons {
      width: 290px;
      height: auto;
      padding: 0px;
      left: -290px; }
      .bottom-panel-aligned .sidebar-collapsed-icons ul {
        margin: 0px;
        display: flex; }
        .bottom-panel-aligned .sidebar-collapsed-icons ul li {
          flex: 0 0 58px;
          width: 58px;
          height: 58px;
          vertical-align: middle;
          padding: 0px;
          border-radius: 0px;
          margin: 0px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .bottom-panel-aligned .sidebar-collapsed-icons ul li img {
            max-width: 80%; }
          .bottom-panel-aligned .sidebar-collapsed-icons ul li.active {
            pointer-events: none !important;
            background: #fff; }
            .bottom-panel-aligned .sidebar-collapsed-icons ul li.active img {
              filter: invert(1); }
            .bottom-panel-aligned .sidebar-collapsed-icons ul li.active .fas {
              color: #000; }
    .bottom-panel-aligned .sidebar {
      height: -moz-calc(100% - 160px);
      height: -webkit-calc(100% - 160px);
      height: calc(100% - 160px);
      top: 160px; }
      .bottom-panel-aligned .sidebar.sidebar-active + .sidebar-collapsed-icons {
        left: 0px; } }

/*# sourceMappingURL=gxpstyle.css.map */
