<% @taxon_products.each_with_index do |child, index| %>
  <div class="photo-gallery-card" data-id=<%= child.id %> data-variant="<%=  child.variants.map(&:id) %>">
    <%= image_tag child.display_image.attachment(:product) %>
    <div class="photo-gallery-blink">
      <a class="photo-gallery-link" href=<%= product_path(child) %>>
      <i class="fa fa-link" aria-hidden="true"></i></a>
      <% if child.variants.present? %>
        <div class="uploaded-photo-variant">
          <a href=<%= product_get_product_variant_path(child.id) %> class="btn btn-default variant-btn" data-toggle="modal" data-remote="true"><%= t('spree.personalize_product.variants') %></a>
        </div>
      <% end %>

      <div class="photo-photo-gallery-card-text">
        <h4 class="photo-gallery-title">Title:  <%= child.name %></h4>
        <%= t('photo_gallery.price') %>: <%= child.price == 0.0 ? t('photo_gallery.free') : Spree::Money.parse(child.price) %>
        </br>
        <% product_properties = child.product_properties %>
        <% product_properties.each do |product_property| %>
          <%= product_property.property.presentation %>: <%= product_property.value %></br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>