<section class="section section-photo-gallery">
  <%= render partial: 'search_in_gallery' %>
  <div class="photo-gallery-box" id="JustifiedGallery">
    <%= render partial: 'gallery_product' %>
  </div>
  <br>
</section>

