<div class="search-gallery">
  <% @taxon.children.each do |children| %>
    <%= link_to children.name, '#', :class => "btn btn-primary btn-sm filter-taxon-btn", data: {child: children.name } %>
  <% end %>
  <%= link_to t('photo_gallery.all'), '#', :class => "btn btn-success btn-sm all-photos-btn" %>
</div>
