$('#photo-gallery').modal('show');

<% if params[:selected_taxon].present? && !params[:page].present? %>
  $(".photo-gallery-box").empty();
  $(".photo-gallery-box").append("<%= j render(partial: 'gallery_product') %>");
<% else %>
  $('.photo-gallery-products').html("<%= escape_javascript (render partial: 'photo_gallery')%>");
<% end %>

$('#JustifiedGallery').justifiedGallery({
    rowHeight : 200
});
