<% if variant.product.is_personalize_product? %>
  <% if variant.images.empty? %>
    <%= render partial: 'spree/shared/image', locals: {image: variant.product.display_image, size: :small} %> 
  <% else %>
    <%= render partial: 'spree/shared/image', locals: {image: variant.images.first, size: :small} %>
  <% end %>
<% else %>
  <%= render_original %>
<% end %>