/*body*/
body {
    background: #f3f3f3;
    font-family: open sans !important;
}

@mixin transition($transvalue) {
    transition: all ease-in-out $transvalue;
    -webkit-transition: all ease-in-out $transvalue;
    -moz-transition: all ease-in-out $transvalue;
    -ms-transition: all ease-in-out $transvalue;
    -o-transition: all ease-in-out $transvalue;
}
@mixin position($posvalue, $top, $bottom, $left, $right){
    position: $posvalue;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}
@mixin flex(){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
@include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
@include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
 moz-transform-origin: $origin;
      -o-transform-origin: $origin;
     -ms-transform-origin: $origin;
 -webkit-transform-origin: $origin;
       transform-origin: $origin;
}
@mixin flex-grow ($flex, $flexunit){
    -webkit-box-flex: $flex;
    -ms-flex: $flex $flex $flexunit;
    flex: $flex $flex $flexunit;
    max-width: $flexunit;
}

/* Sidebar */
.top-settins-icon {
    font-size: 18px;
    padding: 10px 15px;
    text-align:  center;
    background: #eab83b;
    color: #383838;
    font-weight: bold;
    text-transform:  uppercase;
}

.top-settins-icon .fas {
    margin-right:  10px;
    font-size: 26px;
    vertical-align:  top;
}
.main-layout {
    padding: 105px 0px 0px 0px;
    @include transition(400ms);
}
.main-layout.sb-active {
    padding-left: 290px;
}
.main-layout {
    @media screen and (max-width: 991px) {
        padding: 138px 15px 15px 15px !important;
    }
}
.sidebar {
    @include position(fixed, 100px, 0px, -290px, auto);
    @include transition(400ms);
    width: 290px;
    @include calc( height, '100%');
    z-index: -1;
    background: rgba(255, 255, 255, 0.90);

    .card {
        border: none;
        border-bottom: 1px solid #f3f3f3;
        border-radius: 0px;
    }
    .card-body {
        background: #f3f3f3;
    }
    .card-header {
        padding: 0;
        border: none;
        background: none;

        .btn {
            width: 100%;
            text-align: left;
            text-decoration: none !important;
            color: #333;
            position: relative;

            &::before {
                content: "\f107" !important;
                font-family: Font Awesome\ 5 Free;
                @include position(absolute, 0px, auto, auto, 0px);
                color: #b2b2b2;
                font-size: 20px;
                font-weight: 900;
                padding: 3px 10px;
                @include transition(400ms);
            }
            &[aria-expanded=true] {
                &::before {
                    @include rotate(180);
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        width: 230px;
    }
}
.sidebar-collapsed-icons {
    position: fixed;
    left: 0;
    top: 105px;
    overflow-y: auto;
    z-index: 99;
    padding: 30px 0px;
    background: #fff;
    @include calc( height, '100% - 195px');
    @include transition(400ms);
    box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 991px) {
        top: 138px;
        @include calc( height, '100% - 138px');
    }

    ul {
        list-style:  none;
        padding: 0;

        li {
            width: 60px;
            height: 60px;
            padding: 10px;
            border-radius: 100%;
            background: #333;
            margin: 10px;
            cursor: pointer;
            @media screen and (max-height: 725px) {
                width: 80px;
                width: 50px;
                height: 50px;
                margin: 10px 5px;
            }
            @media screen and (max-width: 991px) {
                width: 80px;
                width: 50px;
                height: 50px;
                margin: 10px 5px;
            }

            &:first-child {
                background: #0fa798;
            }
            &:nth-child(2) {
                background: #f2c02b;
            }
            &:nth-child(3) {
                background: #f39d36;
            }
            &:nth-child(4) {
                background: #f3764a;
            }
            &:nth-child(5) {
                background: #ef5354;
            }
            &:last-child{
                padding-top: 7px!important;
            }

            img {
                width: 100%;
            }
        }
        .sb-col-icon {
            color: #fff;
            text-align:  center;
            .fas {
                font-size: 18px;
                padding: 5px;
            }
        }
    }
}
.create-new + .sidebar {
    @include calc( height, '100% - 184px');
    @media screen and (max-width: 991px) {
        @include calc( height, '100% - 60px');
        top: 60px;
    }
}

.start-up {
    @media screen and (max-width: 500px) {
        .create-new-form {
            width: auto;
        }
        .main-header .navbar {
            flex-wrap: nowrap;
            height: 60px;

            .nav-item .nav-link {
                height: 60px;
                width: 60px;
            }
            .nav-header {
                flex: none;
                h3 {
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
        }
        .logo-sb {
            height: 60px;
        }
        .instruction-new {
            left: 0;
            right: 0;
            width: auto;
            bottom: 0;
        }
    }
}
.start-up + .sidebar {
    @media screen and (max-width: 991px) {
        top: 75px;
        @include calc( height, '100% - 75px');
    }

    @media screen and (max-width: 500px) {
        top: 60px;
        @include calc( height, '100% - 60px');
    }
}
.sidebar.sidebar-active {
    left: 0px;
    z-index: 99;
    box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25);
}
.logo-sb {
    text-align: center;
    margin-right: 2px;
    img {
        max-width: fit-content;
    }
}
.accordian-tabs-left-panel {
    overflow-y: auto;
    overflow-x: hidden;
    @include calc( height, '100% - 47px');
}
.toggle-sidebar-inner {
    position: absolute;
    right: 0px;
    width: 47px;
    height: 47px;
    background: #01395a;
    top: 0;
    text-align: center;
}

.toggle-sidebar-inner a {
    height: 100%;
    padding: 16px 0;
    color: #fff;
}

/* Sidebar end */

/* Header */
.main-header {
    .navbar {
        height: 75px;
        top: 30px;
        padding: 0px;
        background: #01395a;
        color: #fff;
        @include transition(400ms);
        padding-right: 15px;

        .container {
            @media screen and (max-width: 400px) {
                padding: 0px;
            }
        }
        .nav-header {
            flex-grow: 11;
            h3 {
                font-size: 20px;
            }
        }
        .nav-item {
            .nav-link {
                padding: 10px;
                font-size: 26px;
                width: 100px;
                text-align: center;
                @include flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #fff;
                height: 75px;

                & > img {
                    width: 43px;
                }
            }

            .hover-items {
                position: absolute;
                left: 0;
                right: 0;
                display: none;
                background: #fff;
                overflow-x: auto;
                margin: 0px;
                white-space: nowrap;
            }

            .item-hvr {
                display: inline-block;
                color: #333;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                width: 130px;
            }
            .item-icon {
                border-radius: 10px;
                overflow: hidden;
                position: relative;
            }
            &:hover, &.slide-active {

                .nav-link {
                    color: #333;
                    background: #fff;

                    img {
                        filter: invert(100%);
                        -webkit-filter: invert(100%);
                        -moz-filter: invert(100%);
                    }
                }
            }
        }
    }
}
.main-layout.sb-active {
    .hover-items {
        width: 100%;
    }

}
.create-new {
    .doc-details {
        @include flex-grow(0, 300px);
        text-align: right;
        @include flex;
        justify-content: flex-end;
        align-items: center;
        .doc-name {
            padding: 20px;
        }
        .save-btn {
            padding: 20px 34px 13px;
            cursor: pointer;
            font-size: 24px;
            border-left: 1px solid rgba(255, 255, 255, 0.20);
            text-align: center;

            span {
                display: block;
                font-size: 14px;
                margin-top: 1px;
            }
        }
        @media screen and (max-width: 991px) {
            .doc-name {
                display: none;
            }
        }
    }
    .navbar-nav {
        flex-direction: row;
    }
    .navbar {
        flex-wrap: nowrap;
        .nav-links {
            @include flex-grow(1, 100%);
            overflow: hidden;
            .nav-item {
                .nav-link {
                    border-right: 1px solid rgba(255, 255, 255, 0.20);
                    i {
                        width: 62px;
                        height: 62px;
                        line-height: 62px;
                        text-align: center;
                    }
                }

                span {
                    font-size: 14px;
                }
                &.others-link {
                    .nav-link {
                        i {
                            line-height: 42px;
                            @media screen and (max-width: 991px) {
                                line-height: 35px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

        }
        @media screen and (max-width: 991px) {
            height: 60px;
            .doc-details{
                @include flex-grow(0, 50px);
                .save-btn {
                    padding: 12px;
                    font-size: 12px;
                    .fas {
                        margin: 11px;
                    }
                    span {
                        font-size: 12px;
                        margin: 0px;
                    }
                }
            }
            .nav-links {
                .logo-sb {
                    height: 60px;
                    width: 55px;
                    overflow: hidden;
                }
                .nav-item {
                    .nav-link {
                        width: 50px;
                        height: 60px;
                        img {
                            width: 35px;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }

            }
        }


    }

}
.logo-sb img {
    height: 100%;
    max-width: auto;
}

.logo-sb {
    text-align: center;
    height: 75px;
}
.sb-active .navbar .nav-links .nav-item .nav-link .fa-bars::before {
    content: "\f00d";
}
/*main-content*/
.instruction-new {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 300px;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 2px 14px rgba(51, 51, 51, 0.27);

    p {
        font-size: 14px;
    }

    h4 {
        font-size: 16px;
    }
    #disable-instructions {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 12px;
        padding: 10px;
        cursor: pointer;
    }
}
.main-content {
    position: relative;
    overflow: auto;
    @include calc( height, '100vh - 75px');
    @media screen and (max-width: 991px) {
        @include calc( height, '100vh - 118px');
    }
}
.create-new-form {
    @include position(absolute, 50%, 0px, 0, 0);
    margin: 0 auto;
    @include translate (0, -50%);
    width: 400px;
    background: #fff;
    padding: 30px;
    height: 365px;
    border-radius: 30px;
    overflow-y: auto;

    .select-links {
        display: none;

        .btn {
            width: 100%;
            border: 1px solid #bebebe;
            padding: 10px;
            border-radius: 15px;
            color: #333;
            margin-bottom: 15px;

            input {
                display: none;
            }

            &:hover {
                background: #d8d8d8;
                color: #252525;
            }

            &:last-child {
                margin: 0px;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }

        &.active {
            display: block;
        }
    }
}
.new-document {
    @include position(absolute, 50%, 0px, 0, 0);
    margin: 0 auto;
    @include translate (0, -50%);
    transform: none;
    top: 0;
    margin: 10px auto;
    @include transition(400ms);


    @media screen and (max-height: 725px) {
        transform: none;
        top: 0;
        margin: 15px auto;
    }

    .scale-doc-section {
        transform-origin: 0 0 0;
        background: image-url('spree/backend/png-pattern.png');
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include transition(400ms);
    }
    &.savingFinalImage {
        position: fixed !important;
        top: 0px !important;
        transform: none !important;
        margin: 0px !important;
        
        .scale-doc-section {
            transform: none !important;
        }
    }
}

.doc-scale {
    @include position(fixed, auto, 0px, 0px, auto);
    padding: 15px 2px;
    text-align: center;
    background: #f3f3f3;
    box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.25);
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    @include transition(400ms);
    .current-size {
        display: none;
        border: 1px solid #b7b7b7;
        padding: 5px 25px;
        border-radius: 6px;
        font-weight: 600;
        color: #8e8e8e;
    }
    .btn {
        background: none;
        border: 1px solid #b7b7b7;
        padding: 9px;
        vertical-align: top;
        color: #8e8e8e;
    }
    @media screen and (max-width: 991px) {
        width: 230px;
        padding: 5px;
        top: 90px;
        bottom: auto;
        right: 0;
        width: 100%;
        text-align: center;

        .current-size, .btn  {
            font-size: 12px;
        }
    }
}
.sb-active {
    .doc-scale {
        padding: 24px;
        width: 290px;

        .current-size {
            display: inline-block;
        }
    }
}
.sidebar-active + .sidebar-collapsed-icons {
    left: -80px;
}
.main-img-layer {
    overflow: hidden;
    z-index: 0;

    img {
        width: 100%;
    }
}
#filter-main-bg {
    @include position(absolute, 0px, 0px, 0px, 0px);
    z-index: 0;
    user-select: none;
}
.draggable {
    position: relative !important;
}

// Filter Gradients
.filter-one {
    background: url(../img/filter-01.png);
}
.filter-two {
    background: url(../img/filter-02.png);
}
.filter-three {
    background: url(../img/filter-03.png);
}

.filter-four {
    background: url(../img/filter-02.png);
}
.filter-five {
    background: url(../img/filter-01.png);
}


// Range Slider Design
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: #d6d6d6;
    border-radius: 1.3px;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 3px solid #d6d6d6;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: #d6d6d6;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    border: 3px solid #d6d6d6;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #d6d6d6;
    border: 0.2px solid #d6d6d6;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6;
  }
  input[type=range]::-ms-fill-upper {
    background: #d6d6d6;
    border: 0.2px solid #d6d6d6;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #d6d6d6, 0px 0px 1px #d6d6d6;
  }
  input[type=range]::-ms-thumb {
    border: 3px solid #d6d6d6;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #d6d6d6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #d6d6d6;
  }


  // Layers
.layer-filter, .layer-bg {
    h3 {
        font-size: 16px;
    }
}
.layer-bg {
    label {
        width: 100%;
    }
    .btn {
        box-shadow: 1px 1px 4px #333;
        border-radius: 15px;
        float: right;
        margin-left: 10px;
    }
}
.hidden-all {
    display: none !important;
}
.layer-dropdown {
    h3 {
        font-size: 16px;
        span.value-show {
           float: right;
           width: 67px;
           height: 25px;
           border: 1px solid rgba(51, 51, 51, 0.18);
           font-size: 12px;
           line-height: 25px;
           text-align: center;
        }
    }
    .dropdown-toggle {
        width: 100%;
        text-align: left;
        position: relative;
        background: #fff;
        &:focus {
            box-shadow: none;
        }
        &::after {
            position: absolute;
            right: 10px;
            top: 16px;
        }
    }
    .dropdown-menu {
        width: 100%;
        border: none;
        border-radius: 0px;
        max-height: 90px;
        overflow: auto;

        &.show {
            transform: none !important;
            top: 40px !important;
            display: block !important;
        }

        li {
            padding: 5px 20px;
            font-weight: 600;
            font-style: italic;
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
            @include flex;

            .layer-left {
                @include flex-grow(1, 100%);
            }
            .layer-right {
                @include flex;
                justify-content: space-between;
                @include flex-grow(0, 70px);

                .fa {
                    padding: 6px 10px;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
.layer {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.layer-doc {
    position: absolute !important;
    top: 0px;
    width: 200px;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
    }
    span.doc-layer-name {
        position: absolute !important;
        top: -30px !important;
        color: #fff !important;
        background: rgba(0,0,0,0.6) !important;
        padding: 5px 10px !important;
        font-size: 25px !important;
        display: none !important;
        font-family: open sans !important;
    }
    &.active-layer {
        border: 1px dashed #777;
        span.doc-layer-name {
            display: block !important;
        }
        .ui-resizable-se {
            border: 1px solid #777;
        }
        .ui-resizable-e, .ui-resizable-w {
            &::before {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 1px;
                border: 1px solid #777;
            }
        }
        .ui-resizable-w {
            &::before{
                left: 6px;
            }
            &::after {
                content: '';
                position: absolute !important;
                width: 12px;
                height: 12px;
                bottom: 1px;
                border: 1px solid #777;
                left: 6px;
            }
        }
        .ui-resizable-e {
            &::before{
                right: 6px;
            }
        }
        .editText {
            display: block;
            color: #333 !important;
        }
    }
}
.layer-text {
    height: auto;
    width: 300px;
    z-index: 999999999;
    text-align: center;
    .text-content {
        overflow: hidden;
        height: 100%;
    }
    span, strong, div {
        font-weight: inherit !important;
        color: inherit !important;
        background: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        text-align: inherit !important;
    }
    .editText {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 40px !important;
        padding: 5px;
    }
    &.active-layer {
        padding: 0px 25px 7px 7px;
    }
}
.layer-hidden {
    display: none !important;
}
.layer-details-panel.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.layer-details-panel-bg h3 {
    font-size: 16px;
    span.value-show {
       float: right;
       width: 67px;
       height: 25px;
       border: 1px solid rgba(51, 51, 51, 0.18);
       font-size: 12px;
       line-height: 25px;
       text-align: center;
    }
}
.layer-details-panel {
    .layer-header {
        @include flex;
        font-weight: 600;
        font-style: italic;
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        margin: -7px -20px 15px;
        padding: 0 20px 9px;

        .layer-name {
            @include flex-grow(1, 100%);
        }
        .layer-img {
            @include flex-grow(0, 30px);
            height: 30px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
}
.layer-fontstyle {
    .dropdown-toggle {
        border: 1px solid rgba(51, 51, 51, 0.33);
        margin-top: 5px;
    }
    .font-dropdown  {
        .active {
            background: #01395a;
            color: #fff;
        }
    }
}
.layer-textproperties {
    ul {
        padding: 0px;

        li {
            list-style: none;
            display: inline-block;
            padding: 10px;
            border: 1px solid #333;
            width: 40px;
            text-align: center;
            margin-right: 5px;
            border: 1px solid rgba(51, 51, 51, 0.2);
            border-radius: 10px;
            color: #828282;
            cursor: pointer;
            position: relative;

            &.active {
                background: #01395a;
                color: #fff;
            }

            &:last-child {
                margin: 0px;
            }
            .color-picker {
                opacity: 0;
                margin: 0px;
                height:100%;
                width:100%;
                @include position(absolute, 0px, 0px, 0px, 0);
                input {
                    width: 100%;
                }
            }
            .color {
                @include position(absolute, auto, 3px, 0px, 0px);
                height: 4px;
                width: 20px;
                margin: 0 auto;
            }
        }
    }
}
.colorpicker {
    z-index: 9999999999;
}
.final-img {
    max-width: 290px;
    margin: 0 auto 30px;
    padding: 10px;
    border: 1px solid #333;

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}
.modal-save {
    z-index: 999999;
    .modal-body {
            .fas {
                position: absolute;
                left:0px;
                width: 50px;
                top: 0px;
                padding: 10px;
                border-right: 1px solid rgba(0,0,0,0.3);
            }
        }
    .modal-content {
        border-radius: 0px;
    }
    .modal-header {
        border-radius: 0px;
        background: #01395a;
        color: #fff;
        .modal-title {
            font-size: 16px;
            font-weight: normal;
        }
        .close {
            color: #fff;
            text-shadow: none;
            opacity: 1;
        }
    }
}
.modal-backdrop {
    z-index: 99999;
}
.loader-na {
    @include position(fixed, 0, 0, 0, 0);
    text-align: center;
    z-index: 999999999999999999;
    background: rgb(0, 128, 204);
    display: none;
    img {
        @include position(absolute, 50%, auto, 0, 0);
        margin: 0 auto;
        max-width: 200px;
        top: 50%;
        @include translate (0, -50%);
    }
}
.draggableonly {
    pointer-events: none;
    user-select: none;
}
.bg-drag {
    display: inline-block;
    width: 100%;
    h3 {
        display: inline-block;
    }
    .btn {
        float: right;
    }
}
.layer-image {
    overflow: hidden;
    height: auto;
    img {
        width: 100%;
        height: auto;
        position: relative;
    }
}
.parent-mult-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
span.filename {
    font-size: 12px;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 98px;
}
.bg-colorpicker {
    position: relative;
    float: right;
    input {
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
    }
    span {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid #333;
    }
}
.layer-details-panel-bg {
    .bg-drag {
        margin-bottom: 20px;
    }
}
.bg-color-settings {
    display: inline-block;
}
a.nav-link.btn-toggle-sb {
    margin-right: 2px;
}

/*Custom*/

.filter-bg-sw, .filter-gd-color {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 99;
    opacity: 0.3;
}
.d-none{
    display: none;
}
.secondary-nav {
    position:  fixed;
    top: 0;
    left:  0;
    right: 0;
    height: 30px;

    .navbar {
        padding: 0;
        height: auto;
    }
    .nav-link {
        font-size: 12px;
        padding: 6px;

        @media screen and ( max-width: 400px) {
            font-size: 9px;
            padding: 8px 5px;
        }
    }
}
a.nav-link {
    border-right: 1px solid;
}
.image-load {
    position: relative;
    .loader-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        max-width: 290px;
        margin: 0 auto;
    }
    #loader {
        width: 200px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.sticker-size{
    width: 100px;
    height: 100px;
}
.frame-layer {
  position: absolute;
  left:  0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999999;
}
.frame-layer img {
  width: 100%;
  height: 100%;
  pointer-events: none!important;
}
.main-header {
    .owl-next, .owl-prev {
        position: absolute;
        top: 50%;
        @include translate (0, -50%);
        color: #333;
        font-size: 45px;
        @include transition(400ms);

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .owl-next {
        right: -30px;
    }
    .owl-prev {
        left: -30px;
    }
    .hover-items {
        overflow: hidden !important;
        &:hover {
            .owl-prev {
                left: 15px;
            }
            .owl-next {
                right: 15px;
            }
        }
    }
}
.original-screen {
    font-size: 12px;
    width: 100%;
}
.exit-btn {
    padding: 20px 33px 13px;
    cursor: pointer;
    font-size: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.20);
    text-align: center;
    span {
        display: block;
        font-size: 14px;
        margin-top: 1px;
    }
    a {
        color: #fff;
    }
}
.sample-btn {
    padding: 20px 34px 13px;
    cursor: pointer;
    font-size: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.20);
    text-align: center;
    span {
        display: block;
        font-size: 14px;
        margin-top: 1px;
    }
    a {
        color: #fff;
    }
}
#personalize-submit{
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 0.875rem;
    background: #10c9c3;
    border-color: #10c9c3;
}
.layer-image span.doc-layer-name{
    top: 0!important;
    color: #000!important;
    background: none!important;
}
@media screen and (max-width: 991px) {
    .bottom-panel-aligned {
        padding: 0;
       
        .sidebar-toggle {
            display: none;
        }
        .main-layout {
            padding: 90px 10px 50px !important;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .main-content {
            height: 100%;
        }
        .sidebar-collapsed-icons {
            bottom: 0;
            right: 0;
            top: initial;
            height: auto;
            padding: 0;
            background: none;
            box-shadow: none;
            margin-right: 0;
            ul {
                padding: 0;
                margin: 0;
                margin-right: 0;
                text-align: center;

                li {
                    display: inline-block;
                    width: 60px;
                    height: 40px;
                    border-radius: 0;
                    padding: 2px 11px;
                    vertical-align: middle;
                    margin: 0;
                    &.active {
                        background: #f3f3f3;
                    .fas {
                            color: #333;
                        }
                        img {
                            filter: grayscale(100%) invert(100%);
                        }
                    }
                }
            }
        }
        sidebar-active + .sidebar-collapsed-icons {
            left: 0;
            bottom: 0px;
        }
        .sidebar {
            right: 0;
            top: initial;
            left: 0;
            width: 100%;
            background: none;
            box-shadow: none;
            height: auto;
            z-index: 999;
            bottom: 40px;

            &.sidebar-active {
                right: 0;
                top: initial;
                height: auto;
            }
            .accordian-tabs-left-panel {
                overflow: auto;
            }
            .accordion {
                text-align: center;
                white-space: nowrap; 
                .card {
                    vertical-align: bottom;
                    width: 316px;
                    display: none;
                    margin: 0 auto;
                    margin-right: auto;
                }
                .card-body {
                    padding: 0px;
                }
            }
        }
        .top-settins-icon {
            display: none;
        }
        .new-document {
            margin: 0 auto !important;
        }
        .layer-dropdown {
            padding: 0px;
            background: #f3f3f3;
        }
        .layer-settings {
            white-space: nowrap;
            overflow: auto;
            text-align: center;

            .layer-set, .layer-set1 {
                display: inline-block;
                vertical-align: middle;
                margin: 0px;

                input, .text-styles, .text-properties, .dropdown, .btn-change-pic, .bg-colorpicker, .font-select {
                    display: none;
                }

                h3 {
                    text-align: center;
                    padding: 5px 3px;
                    border: 1px solid #333;
                    font-size: 9px;
                    font-weight: 600;
                    width: 70px;
                    height: 55px;
                    border-radius: 5px;
                    white-space: normal;
                    cursor: pointer;
                    position: relative;

                    .img-change-btn {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 0;
                        opacity: 0;
                    }
                    
                    .fas {
                        display: block;
                        font-size: 20px;
                        margin: 5px 0 3px;
                    }
                    
                    span {
                        display: none;
                    }
                }
            }
        
            .btn-back-setting {
                display: none;
            }

            &.effect-active {
                .btn-back-setting {
                    display: inline-block;
                    padding: 3px 0px;
                    margin-bottom: 10px;
                    width: auto;
                    background: none;
                    color: #333;
                }
                .layer-set {
                    display: none;
                
                    &.active-layer-effect {
                        display: block;

                        h3 {
                            display: none;
                        }
                        input, .dropdown, .btn-change-pic, .bg-colorpicker, .font-select {
                            display: block;
                        }
                        .text-styles, .text-properties {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        .layer-details-panel-bg {
            .layer-header {
                text-align: right;
                padding: 0 0 10px;
            }
            .layer-settings .layer-set h3 {
                padding: 1px 5px;
                margin: 0;
            }
        }
        .layer {
            padding: 10px;

            &.disabled {
                .btn-pos, .layer-header {
                    display: none;
                }
            }
        }
        .layer-details-panel {
            .layer-header {
                margin: 0px 0 5px;
                padding: 0px;
                text-align: left;
                border: none;
                .btn {
                    margin-left: 5px;
                }
            }
        }
        .layer-name {
            padding-left: 5px;
        }
        .doc-scale {
            padding: 0;
            box-shadow: none;
            background: none;
            z-index: 999;

            .btn {
                border: none;
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .layer-textproperties ul li {
            width: 33px;
            padding: 10px 8px;
            margin: 0;
        }
    }
}
.hvr-active-layer {
    .doc-scale {
        visibility: hidden;
    }
}
.options-btn{
    margin-right: 2px;
    background:transparent;
    border:0;
    color: #5f5f5f;
    padding: 5px 5px;
}
.options-btn:focus{
    box-shadow: none;
}
.options-btn:hover,.options-btn:active{
    background-color: transparent !important;
    border-color:transparent !important;
    color: #000 !important;
    box-shadow: none !important;
}
.custom-btn{
    background: #01395a;
    color: #fff;
    border-radius: 4px;
}
.img-change-btn{
    font-size: 11px;
    border-radius: 4px;
    letter-spacing: 0.4px;
    border-radius: 15px;
    display: block;
    position: relative;
    input{
        z-index: 99;
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        right: 0;
        display: inline-block;
        background: red;
        top: 0;
        bottom: 0;
    }

}
@media (min-width: 992px) {
    .value-show{
        border-radius: 5px;
        line-height: 24px !important;
    }
    .layer{
        padding: 16px 7px 15px 7px;
    }
    
    ul.test-sidebar-ul li {
        background-color: #01395a;
    }
    .img-icn-li div{
        padding: 0px 4px;
    }
    .img-icn-li i {
        font-size: 35px;
        color: #fff;
        line-height: 63px;
    }
    .sidebar-accoridian {
        height: auto;
        bottom: auto;
    }
    .layer-details-panel .layer-header{
        margin: -7px 0px 14px;
        padding: 0 0px 9px;
    }
    .bottom-panel-aligned {
        padding: 0;
        .custom-card-body{
            padding:7px;
            button.btn.dropdown-toggle {
                margin-bottom: 6px;
            }
        }
        
        .hover-items{
            box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        }
        .sidebar-toggle {
            position: fixed;
            top: 115px;
            left: 15px;
            padding: 15px;
            background: #fff;
            font-size: 20px;
            border-radius:7px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
            color: #01395a;
            cursor: pointer;
            transition: all ease-in-out 400ms;

            &.active {
                left: 305px;
            }
        }

        .doc-scale {
            left: auto;
            right: 0px;
        }
        .accordian-tabs-left-panel {
            height: 100%;
        }
        
        .top-settins-icon {
            display: none;
        }
        .btn-back-setting {
            display: none;
        }
        

        .sidebar-collapsed-icons {
            width: 290px;
            height: auto;
            padding: 0px;
            left: -290px;

            ul {
                margin: 0px;
                display: flex;
                li {
                    flex: 0 0 58px;
                    width: 58px;
                    height: 58px;
                    vertical-align: middle;
                    padding: 0px;
                    border-radius: 0px;
                    margin: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 80%;
                    }
                    &.active {
                        pointer-events: none !important;
                        background: #fff;

                        img {
                            filter: invert(1);
                        }
                        .fas {
                            color: #000;
                        }
                    }
                }
            }
        }
        .sidebar {
            @include calc(height, '100% - 160px');
            top: 160px;

            &.sidebar-active + .sidebar-collapsed-icons {
                left: 0px;
            }
        }
    }
    .layer-settings, .layer-dropdown {
        label {
            width: 100%;

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        h3 {
            .fas {
                display: none;
            }
        }
    }
}

.parent-mult-img img{
    pointer-events: auto;
}
.modal-lightbox {
    z-index: 999999;

    .modal-header {
        border-radius: 0px;
        background: #01395a;
        color: #fff;
        .modal-title {
            font-size: 16px;
            font-weight: normal;
        }
        .close {
            color: #fff;
            text-shadow: none;
            opacity: 1;
        }
    }
}
.modal-lightbox {
    .owl-next, .owl-prev {
        position: absolute;
        top: 50%;
        @include translate (0, -50%);
        color: #333;
        font-size: 45px;
        @include transition(400ms);

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .owl-next {
        right: -2px;
    }
    .owl-prev {
        left: -2px;
    }
    .hover-images {
        overflow: hidden !important;
        &:hover {
            .owl-prev {
                left: 10px;
            }
            .owl-next {
                right: 10px;
            }
        }
    }
}
.layer-stick{
    z-index: 999999999;
}

.card {
    .font-select .fs-drop {
        position: fixed;
        right: 0;
        left: 0;
        top: 50%;
        bottom: 0;
        max-width: 400px;
        margin: 0 auto;
        height: 233px;
        padding: 20px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}
.gallery-photos {
    background: #555;
    margin-top: 25px;
    right: 10px;
    float: right;
    width: 70%;
}


.section-photo-gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 0;
}

.photo-gallery-box {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.photo-gallery-card {
  position: relative;
  z-index: 1;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 300px;
  margin: 0vw;
  overflow: hidden;
}

.photo-gallery-card img {
  width: 100%;
  height: auto;
  transition: all .4s ease-in-out;
  transform: scale(1.01);
}

.photo-gallery-card:hover .photo-gallery-blink {
  z-index: 4;
  opacity: 1;
}

.photo-gallery-card:hover img {
  transform: scale(1.03);
}

.photo-gallery-blink {
  transition: all .4s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.photo-gallery-link {
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 15px;
  /*20px*/
  font-size: 1.25rem;
}

.photo-gallery-link:hover .fa {
  color: #fcbc1f;
  transform: scale(1.2);
}

.photo-gallery-text {
  padding: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
}

.photo-gallery-text p {
  margin-bottom: 0;
  font-weight: 700;
}

.photo-gallery-title {
  font-weight: 900;
  margin-bottom: 10px;
}
.photo-photo-gallery-card-text{
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}
@media screen and (max-width: 400px) {
  .photo-gallery-box {
    padding: 0;
  }
  .photo-gallery-card {
    margin: 0;
  }
}
.gallery-label{
    float: right;
    margin-top: 10px;
}
.uploaded-photo-variant {
    float: right;
    margin-right: 10px;
    margin-top: 60px;
}
.variant-btn{
    color: #fff;
    border: 1px solid #fff;  
}
.product-section-title{
    margin-left: 20px;   
}
h4.modal-title.gallery-title {
    font-size: 20px!important;
}
.variant-submit{
    float: right;
}
.variant-select-section {
    margin-top: 70px;
}
.not-found-error {
    font-size: 18px;
    text-align: center;
    border: 1px dotted;
    margin: 15px 0 10px 0;
}
.layer-pic {
    border: 1px solid;
    vertical-align: middle;
    display: inline-block;
}
.layer-set1 {
    margin: 0;
}
.editText .fa.fa-edit {
    font-size: 40px;
}
.effect-active .btn-change-pic {
    display: none !important;
}
.effect-active .layer-rotate-image {
    display: none !important;
}
// responsive
@media screen and (max-width: 600px) {
    .create-new .navbar .nav-links .nav-item .nav-link {
        border: none;
    }
    .create-new .doc-details .save-btn, .create-new .doc-details .exit-btn, .create-new .doc-details .sample-btn {
        border: none;
        padding: 7px !important;

        &:hover {
            background: #fff;
            color: #333;
            a {
                color: #333;
            }
        }
    }
    .create-new .navbar .doc-details {
        @include flex-grow (0, 160px);
        justify-content: flex-start;
    }
    .create-new .navbar .nav-links {
        @include flex-grow (0, 157px);
    }
    .create-new .navbar .doc-details .save-btn .fas, .create-new .navbar .doc-details .exit-btn .fas, .create-new .navbar .doc-details .sample-btn .fas {
        margin: 0px;
    }
    .create-new .navbar .nav-links .nav-item .nav-link img {
        height: 27px;
    }
    .main-header .navbar .nav-item .item-hvr {
        width: 65px;
        font-size: 12px;
    }
    .sticker-size {
        height: auto;
    }
    .main-header .navbar .nav-item .item-icon {
        height: 45px;

        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 991px) {
    .accordian-tabs-left-panel #accordion {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 5px;
    }
}
.bottom-panel-aligned .layer-settings .layer-error h3 {
    border-color: red;
    background: rgba(247, 90, 90, 0.16);
    color: #ca0000;
}
.bg-color-settings {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 0;
    margin-right: 3px;
        h3 {
        text-align: center;
        padding: 5px;
        border: 1px solid #333;
        font-size: 9px;
        font-weight: 600;
        width: 70px;
        height: 55px;
        border-radius: 5px;
        white-space: normal;
        cursor: pointer;
        
        .fas {
            display: block;
            font-size: 20px;
            margin: 5px 0 3px;
        }
        
        span {
            display: none;
        }
    }
}
.bottom-panel-aligned .layer-settings .bg-colorpicker span,
.bottom-panel-aligned .layer-settings .bg-colorpicker input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@media screen and (max-width: 991px) {
    .sample-btn, .create-new .navbar .doc-details .save-btn {
        padding: 0 5px;
        height: 60px;
        span {
            font-size: 12px;
        }
        .fa-image {
            font-size: 17px;
        }
        .fas {
            margin: 14px 0px 6px;
            font-size: 17px;
        }
    }
    .exit-btn {
        height: 60px;
        padding: 6px 10px;
        font-size: 20px;
        span {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 600px) {
    .sample-btn, .exit-btn {
        font-size: 18px;
    }
    .create-new .navbar .doc-details .save-btn .fas {
        margin: 5px 0px 5px;
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    .layer-settings {
        display: inline-block;
        width: 100%;
        .bg-color-settings {
            h3 {
                display: inline-block;
            }
        }
    }
    .layer-dropdown h3.img-rotate::before {
        content: "\f0e2";
        font-weight: 900;
        font-family: Font Awesome\ 5 Free;
    }
    h3.btn.btn-default.img-rotate {
        border: 1px solid rgba(51, 51, 51, 0.33);
        font-size: 13px;
        margin: 10px 0px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            border: 1px dashed rgba(0, 0, 0, 0.22);
            font-size: 10px;
            padding: 2px 10px;
        }
    }
    .layer-rotate-image {
        margin-bottom: 20px;
    }
}
.filter-taxon-btn, .all-photos-btn{
    padding: 3px 5px;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: #16395a;
    margin-bottom: 10px;
}
.text-primary {
    color: #003959 !important;
}
.btn-active {
  background: #008000!important;
} 
.background-images {
    text-align: left;
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 2px;
        margin-bottom: 5px;
        background: #000;
        border: 2px solid #fff;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    }
}
.layer-lineheight {
  margin-top: 10px;
}
.bg-patterns h3{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 14px;
}


@media screen and (max-width: 991px) {
    .bg-patterns {
        width: 100%;
        display: block;

        h3 {
            text-align: left;
            font-size: 12px;
        }
    }
    .background-patterns {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}
.sp-cancel {
    display: none;
}
.sp-choose{
    display: none;
}
.sp-picker-container, .sp-palette-container{
    float: none!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    margin-top: 24px
}
.sp-input{
    border: 1px solid!important;
    width: auto!important;
}
.sp-input-container{
    float: none!important;
}
.sp-container{
    padding-bottom: 10px!important; 
}
.sp-palette-button-container{
    margin-top: 5px;
}
.background-color{
    text-align: center;
}

.background-color {
    .sp-container {
        background: none;
        border: none;
        width: 100%;

        .sp-palette-container {
            padding: 0;

            .sp-palette {
                max-width: auto;
                max-width: inherit;
                width: auto;
            }
        }
        .sp-thumb-el {
            height: 26px;
            width: 26px;
        }

        @media screen and (max-width: 991px) {
            .sp-palette-row {
                float: left;
            }

            .sp-thumb-el {
                height: 14px;
                width: 14px;
            }
        }
    }
}


.remove_background_image{
    z-index: 99;opacity: 0;position: absolute;top: 3px;/* opacity: 0; */z-index: 999;
}
.remove_background_image_content
{
    position: relative;
    display: inline-block;
    margin-top: 4px;
}
.overlay_checkbox_spn
{
    top: 2px;
    width: 15px;
    height: 15px;
    background: #16395a;
    right: 0;
    display: block;
}
.remove_background_image[type='checkbox']:checked + .overlay_checkbox_spn:before
{
    content: ' ';
    font-family: FontAwesome;
    position:absolute; 
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=) ;

    top: 0;
    height: 15px;
    width: 15px;
    z-index: 99;
    background-size: 100% 100%;
}

.remove_background_image[type='checkbox']:unchecked + .overlay_checkbox_spn:before{
    display: none;
}

.layer-details-panel-bg h3 {
    position: relative;
}

.layer-details-panel-bg h3 .remove_background_checkbox_content {
    position: absolute;
    top: 1;
    right: 7px;
}

.layer-textproperties ul .sp-replacer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
