<% if @product.template && !@product.is_personalize_product? %>
  <% url = new_product_personalize_product_path(@product) %>
  <%= link_to t('spree.personalize_product.personalize'), "javascript:;", id: "detect_browser", class: 'btn btn-info ', style: 'float: right;' %>
  <%= link_to t('spree.personalize_product.personalize'), url, 
    :id => 'open-personalize-btn',
    :class => 'btn btn-info',
    :style => 'float: right; display: none;', :selected_locale => session[:locale] %>
<% end %>
