<div class="modal modal-lightbox variant-select-section" id="product_variants">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('spree.personalize_product.select_variant') %></h4>
        <button type="button" class="close close-variant-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">       
        <div class="row">
          <% if product.variants_and_option_values_for(current_pricing_options).any? %>
            <div id="product-variants" class="columns five alpha">
              <h6 class="product-section-title"><%= t('spree.variants') %></h6>
              <ul>
                <% product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
                  <li>
                    <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options)  %>
                    <%= label_tag "variant_id_#{ variant.id }" do %>
                      <span class="variant-description">
                        <%= variant_options variant %>
                      </span>
                      <% if variant_price variant %>
                        <span class="price diff"><%= variant_price variant %></span>
                      <% end %>

                      <% unless variant.can_supply? %>
                        <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <%= hidden_field_tag "variant_id", product.master.id %>
          <% end %>
        </div>
        <div class="select-variant-and-upload-image"></div>
        <button class="btn btn-info variant-submit">
          <%= t('spree.personalize_product.variant.done') %>
        </button>
      </div>
    </div>
  </div>
</div>