 <% if child.variants.present? %>
   <div class="uploaded-photo-variant">
     <a href=<%= product_get_product_variant_path(child.id) %> class="btn btn-sm variant-btn" data-toggle="modal" data-remote="true"><%= t('spree.personalize_product.variants') %></a>
   </div>
<% else %>
  <div class="select-gallery-photo-1">
    <a href=<%= product_save_gallery_photo_path(child.slug) %> data-toggle="tooltip" title=<%= t('spree.support.select_and_upload') %> class="btn btn-sm select-gallery-photo"><%= t('spree.select') %></a>
  </div>
<% end %>