<% product = Spree::Product.find  params[:product_id] %>
$('.uploaded-product-variant').html("<%= escape_javascript (render partial: 'get_product_variant', locals: {product: product}) %>");
$('#product_variants').modal('show');
var variantSubmit = $('.variant-submit');

if($('.section-photo-gallery').length > 0){
  var selectVariantAndUpload = $('.select-variant-and-upload-image');
  $(selectVariantAndUpload).html('<a href="<%= product_save_gallery_photo_path(product.slug) %>" data-toggle="tooltip" title="Select and upload this picture in personalize product." class="btn select-gallery-photo btn-info">Done</a>');
}
else{
  $(variantSubmit).click(function(e){
      e.preventDefault();
      $('.close-variant-modal').trigger('click');
  });
}