<% template_frames = @product.template.template_frames%>
<div class="nav-item nav-item-hvr frames-link">
  <a href="javascript:void(0);" class="nav-link">
    <%= image_tag "spree/frontend/top-icon-frame.png" %>
    <span><%= t('spree.admin.tab.frames') %></span>
  </a>
  <div class="hover-items">
    <div class="owl-carousel">
      <% count = 0 %>
      <% template_frames.each do |frame| %>
        <% count +=1 %>
        <div class="item-hvr" data-effect="frames" data-frame="<%= frame.id %>" data-frame-url="<%= frame.frame_image.url(:original) %>">
          <div class="item-icon">
            <%= image_tag frame.frame_image.url(:original), class: 'sticker-size' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

