<%= render partial: 'spree/personalize_products/top_navbar/frames' if template_frames?(@product) %>

<%#= render partial: 'spree/personalize_products/top_navbar/filters' unless @template.present? %>

<%= render partial: 'spree/personalize_products/top_navbar/plugin_images' unless @template.present? %>

<% if template_fields_permission?(@template) %>
  <%= render partial: 'spree/personalize_products/top_navbar/stickers' if flexibility_for_sticker?(@template) %>
  <%= render partial: 'spree/personalize_products/top_navbar/text' if flexibility_for_text?(@template) %>
<% end %>
