<div class="nav-item nav-item-hvr others-link">
  <a href="javascript:void(0);" class="nav-link">
  <i class="far fa-image"></i>
  <span><%= t('spree.personalize_product.image') %></span>
  </a>
  <div class="hover-items">
    <div class="item-hvr" data-effect="cusImage">
      <div class="item-icon">
        <%= image_tag "spree/frontend/cusImage.png" %>
      </div>
      <div class="item-name">
        <%= t('spree.personalize_product.add_image') %>
      </div>
    </div>
  </div>
</div>
