<div class="nav-item nav-item-hvr others-link">
  <a href="javascript:void(0);" class="nav-link">
    <%= image_tag "spree/frontend/top-icon-sticker.png" %>
    <span><%= t('spree.admin.tab.stickers') %></span>
  </a>
  <div class="hover-items">
    <div class="owl-carousel">
      <% count = 0 %>
      <% @stickers.each do |sticker| %>
        <% count +=1 %>
        <div class="item-hvr" data-effect="stickers" data-sticker-id="<%= sticker.id %>" data-sticker-image-url="<%= sticker.image.url(:original) %>">
          <div class="item-icon">
            <%= image_tag sticker.image.url(:original), class: 'sticker-size' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
