<div class="nav-item nav-item-hvr others-link">
  <a href="javascript:void(0);" class="nav-link">
    <%= image_tag "spree/frontend/top-icon-text.png" %>
    <span><%= t('spree.personalize_product.text') %></span>
  </a>
  <div class="hover-items">
    <div class="item-hvr" data-effect="text">
      <div class="item-icon">
        <%= image_tag "spree/frontend/text.png" %>
      </div>
      <div class="item-name">
        <%= t('spree.personalize_product.text') %>
      </div>
    </div>
  </div>
</div>
