<div data-hook="admin_background_form_fields">

  <div class="row">
    <div class="left col-6" data-hook="admin_background_form_left">
      <div data-hook="admin_background_form_name">
        <%= f.field_container :name do %>
          <%= f.label :name, class: 'required' %>
          <%= f.text_field :name, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>
    </div>

    <div class="left col-6" data-hook="admin_background_form_right">
      <div data-hook="admin_background_form_slug">
        <%= f.field_container :slug do %>
          <%= f.label :slug, class: ('required' if !f.object.new_record?) %>
          <%= f.text_field :slug, class: 'fullwidth title', required: !f.object.new_record?, disabled: f.object.new_record? %>
          <%= f.error_message_on :slug %>
        <% end %>
      </div>
    </div>

    <div class="left col-12" data-hook="admin_background_image">
      <div data-hook="admin_background_form_image">
        <%= f.field_container :image do %>
          <%= f.label :image %>
          <%= f.file_field :image, class: 'fullwidth' %>
          <%= f.error_message_on :image %>
        <% end %>
      </div>
    </div>
  </div>
</div>
