<% content_for :page_actions do %>
  <% if can?(:create, Spree::Background) %>
    <li id="new_background_link">
      <%= button_link_to t('spree.new_background'), new_object_url, { id: 'admin_new_background' } %>
    </li>
  <% end %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @background } %>

<% admin_breadcrumb(t('spree.background_details')) %>

<%= form_for [:admin, @background], html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <% if can?(:update, @background) %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
<% end %>
