<% admin_breadcrumb(plural_resource_name(Spree::Background)) %>

<% content_for :page_actions do %>
  <li id="new_background_link">
    <%= button_link_to Spree.t(:new_background), new_admin_background_path, { :id => 'new_admin_background' } %>
  </li>
<% end if can?(:create, Spree::Background) %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_backgrounds_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div class="row" data-hook="admin_backgrounds_index_search" >
        <div class="col-12">
          <div class="field">
            <%= f.label :name_cont, Spree::Background.human_attribute_name(:name) %>
            <%= f.text_field :name_cont, size: 15 %>
          </div>
        </div>
      </div>

      <div class="actions filter-actions" data-hook="admin_stickers_index_search_buttons">
        <%= button t('spree.search') %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="new_sticker_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_backgrounds">
    <colgroup>
       <col style="width: 20%;">
       <col style="width: 30%;">
       <col style="width: 30%;">
       <col style="width: 20%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_backgrounds_index_headers">
        <th><%= Spree::Background.human_attribute_name(:image) %></th>
        <th><%= sort_link @search, :name, Spree::Background.human_attribute_name(:name), { default_order: "desc" }, {title: 'admin_stickers_listing_name_title'} %></th>
        <th><%= Spree::Background.human_attribute_name(:slug) %></th>
        <th data-hook="admin_backgrounds_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |background| %>
          <tr <%== "style='color: red;'" if background.deleted? %> id="<%= spree_dom_id background %>" data-hook="admin_backgrounds_index_rows">
            <td class="align-center"><%= image_tag background.image.url(:original), class: 'background-img' %></td>
            <td><%= link_to background.try(:name), edit_admin_background_path(background) %></td>
            <td><%= background.slug %></td>
            <td class="actions" data-hook="admin_backgrounds_index_row_actions">
              <%= link_to_edit background, no_text: true, class: 'edit' if can?(:edit, background) && !background.deleted? %>
              &nbsp;
              <%= link_to_clone background, no_text: true, class: 'clone' if can?(:clone, background) %>
              &nbsp;
              <%= link_to_delete background, no_text: true if can?(:delete, background) && !background.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Background,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
