<% admin_breadcrumb link_to(plural_resource_name(Spree::Background), spree.admin_backgrounds_path) %>

<% admin_breadcrumb t('spree.new_background') %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @background } %>

<%= form_for [:admin, @background], method: :post, url: admin_backgrounds_path, html: { multipart: true } do |f| %>
  <fieldset data-hook="new_background">
    <legend align="center"><%= t('spree.new_background') %></legend>

    <%= render partial: 'form', locals: { f: f } %>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
