/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
.save-photo-gallery{
  margin-top: 100px;
}
.save-content{
  margin: 0 auto;
}
.d-none{
  display: none;
}
.select-gallery-photo{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background: #d3d3d3;
  border-radius: 2px;
  font-weight: bold;
  color: #000;
  z-index: 999999;
  position: relative;
}
.variant-btn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background: #d3d3d3;
  border-radius: 2px;
  font-weight: bold;
}
.product-section-title{
  margin-left: 20px;
}
.variant-submit{
  display: none;
}
