<%= render partial: 'associated_pictures', collection: @product.product_pictures, as: :picture %>
<%= render partial: 'product_associated_background', locals: { image: @product.product_background }  if @product.product_background.present? %>
<%= render partial: 'product_associated_gallery_images', collection: @product.gallery_uploaded_images, as: :gallery_image %>
<%= render partial: 'product_associated_stickers', collection: @product.product_stickers, as: :sticker %>
