<% if picture.product_image.present? %>
  <tr id="<%= spree_dom_id picture %>" data-hook="images_row">

    <td>
      <% if can?(:update_positions, Spree::ProductPicture) %>
        <span class="handle"></span>
      <% end %>
    </td>

    <td>
      <span class="modal-image-trigger" data-toggle="modal" data-target="#modal-image-<%= picture.id %>">
        <%= render 'spree/admin/shared/product_images', image: picture, size: :mini %>
      </span>
      <%= render(
        "spree/admin/shared/modal",
        target: "modal-image-#{picture.id}",
        content: %{
          <div class='align-center'>
            #{image_tag(picture.product_image.url(:original))}
          </div>
        }.html_safe
      ) %>
    </td>

    <td>
      <%= fields_for picture do |f| %>
        <%= f.text_field :id, value: '' %>
      <% end %>
    </td>

    <td class="actions">
      <%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_url(@product, picture, tablename: "product_pictures", fieldname: "product_image"), no_text: true %>
    </td>
  </tr>
<% end %>
