<td class="actions">
  <% if !@product.is_personalize_product? %>
    <% if can?(:update, image) %>
      <%= link_to_with_icon 'check', t('spree.actions.save'), api_variant_image_path(@product, image), no_text: true, data: {action: 'save'} %>

      <%= link_to_with_icon 'cancel', t('spree.actions.cancel'), nil, no_text: true, data: {action: 'cancel'} %>

      <%= link_to_with_icon 'edit', t('spree.actions.edit'), edit_admin_product_image_path(@product, image), no_text: true, data: {action: 'edit'} %>
    <% end %>

    <% if can?(:destroy, image) %>
      <%= link_to_delete image, { url: admin_product_image_url(@product, image), no_text: true } %>
    <% end %>
  <% else %>
    <%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_path(@product, image, tablename: "images", fieldname: "attachment"), no_text: true, data: {action: 'download'} %>
  <% end %>
</td>