<% product_id = gallery_image.uploaded_photo_id %>
<% uploaded_product = Spree::Product.find product_id %>
<% uploaded_product_image = uploaded_product.display_image %>

<tr data-hook="images_row">
  <td>
    <% if can?(:update_positions, Spree::GalleryUploadedImage) %>
      <span class="handle"></span>
    <% end %>
  </td>

  <td>
    <span class="modal-image-trigger" data-toggle="modal" data-target="#modal-image-<%= product_id %>">
      <%= render 'spree/admin/shared/gallery_images', image: uploaded_product_image, size: :mini %>
    </span>
    <%= render(
      "spree/admin/shared/modal",
      target: "modal-image-#{product_id}",
      content: %{
        <div class='align-center'>
          #{image_tag(uploaded_product_image.attachment.url(:original))}
        </div>
      }.html_safe
    ) %>
  </td>

  <td>
    <%= fields_for uploaded_product_image do |f| %>
      <%= f.text_field :id, value: '' %>
    <% end %>
  </td>

  <td class="actions">
    <%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_url(uploaded_product, uploaded_product_image, tablename: "images", fieldname: "attachment"), no_text: true %>
  </td>
</tr>

