<% product_sticker = Spree::Sticker.find sticker.sticker_id %>
<tr id="<%= spree_dom_id sticker %>" data-hook="images_row">

  <td>
    <% if can?(:update_positions, Spree::ProductSticker) %>
      <span class="handle"></span>
    <% end %>
  </td>

  <td>
    <span class="modal-image-trigger sticker-small-img" data-toggle="modal" data-target="#modal-sticker-<%= product_sticker.id %>">
      <%= render 'spree/admin/shared/product_stickers', sticker: product_sticker, size: :mini %>
    </span>
    <%= render(
      "spree/admin/shared/modal",
      target: "modal-sticker-#{product_sticker.id}",
      content: %{
        <div class='align-center'>
          #{image_tag(product_sticker.image.url(:original))}
        </div>
      }.html_safe
    ) %>
  </td>

  <td>
    <%= fields_for sticker do |f| %>
      <%= f.text_field :id, value: '' %>
    <% end %>
  </td>

  <td class="actions">
    <%= link_to_with_icon 'download', t('spree.actions.download'), 
      product_download_image_url(@product, sticker.sticker_id, tablename: "product_stickers", fieldname: "image"), no_text: true %>
  </td>
</tr>