<!-- For background image -->
<% if image.background_image.present? %>
  <tr id="<%= spree_dom_id image %>" data-hook="images_row">

    <td>
      <% if can?(:update_positions, Spree::ProductBackground) %>
        <span class="handle"></span>
      <% end %>
    </td>

    <td>
      <span class="modal-image-trigger" data-toggle="modal" data-target="#modal-image-<%= image.id %>">
        <%= render 'spree/admin/shared/background', background: image, size: :mini %>
      </span>
      <%= render(
        "spree/admin/shared/modal",
        target: "modal-image-#{image.id}",
        content: %{
          <div class='align-center'>
            #{image_tag(image.background_image.url(:original))}
          </div>
        }.html_safe
      ) %>
    </td>

    <td>
      <%= fields_for image do |f| %>
        <%= f.text_field :id, value: '' %>
      <% end %>
    </td>

    <td class="actions">
      <%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_url(@product, image, tablename: "product_background", fieldname: "background_image"), no_text: true, data: {action: 'edit'} %>
    </td>
  </tr>
<% end %>

<!-- For frames -->
<% product_frames = @product.template.template_frames %>

<% unless image.product_frame_id.nil? %>
  <% template_frame = product_frames.find image.product_frame_id %>
  <tr id="<%= spree_dom_id template_frame %>" data-hook="images_row">

    <td>
      <% if can?(:update_positions, Spree::ProductBackground) %>
        <span class="handle"></span>
      <% end %>
    </td>

    <td>
      <span class="modal-image-trigger" data-toggle="modal" data-target="#modal-image-<%= template_frame.id %>">
        <% size ||= :mini %>
        <% if template_frame && template_frame.frame_image? %>
          <%= image_tag template_frame.frame_image(:mini) %>
        <% else %>
          <span class="image-placeholder <%= size %>"></span>
        <% end %>
      </span>
      <%= render(
        "spree/admin/shared/modal",
        target: "modal-image-#{template_frame.id}",
        content: %{
          <div class='align-center'>
            #{image_tag(template_frame.frame_image.url(:original))}
          </div>
        }.html_safe
      ) %>
    </td>

    <td>
      <%= fields_for image do |f| %>
        <%= f.text_field :id, value: '' %>
      <% end %>
    </td>

    <td class="actions">
      <%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_url(@product, template_frame, tablename: "template.template_frames", fieldname: "frame_image"), no_text: true %>
    </td>
  </tr>
<% end %>