<div class="tab-pane fade col-md-12" id="layer-<%= img_number %>">
  <div class="layer-settings layer-settings-admin" data-layer="layer-<%= img_number %>">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= field_container f.object, :img_width do %>
            <%= f.label :width, class: 'required' %>
            <%= f.number_field :img_width, data: {effect: 'width'} %>
            <%= error_message_on f.object, :img_width %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= field_container f.object, :img_height do %>
            <%= f.label :height, class: 'required' %>
            <%= f.number_field :img_height, data: {effect: 'height'} %>
            <%= error_message_on f.object, :img_height %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= field_container f.object, :position_x do %>
            <%= f.label :position_x %>
            <%= f.number_field :position_x, data: {effect: 'positionX'} %>
            <%= error_message_on f.object, :position_x %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= field_container f.object, :position_y do %>
            <%= f.label :position_y %>
            <%= f.number_field :position_y, data: {effect: 'positionY'} %>
            <%= error_message_on f.object, :position_y %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :border_radius do %>
            <%= f.label :border_radius do %>
              <%= t(:'spree.template.border_radius') %><span class="valueShow "></span>
            <% end %>
            <%= f.range_field :border_radius, data: {effect: 'bradius'}, min: '0', max: (@template.width + @template.height)/2, value: (f.object.border_radius.nil? ? 0 : f.object.border_radius) %>
            <%= error_message_on f.object, :border_radius %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :rotate do %>
            <%= f.label :rotate do %>
              <%= t(:'spree.template.rotate') %><span class="valueShow "></span>
            <% end %>
            <%= f.range_field :rotate, data: {effect: 'rotate'}, min: '0', max: '360', value: (f.object.rotate.nil? ? 0 : f.object.rotate) %>
            <%= error_message_on f.object, :rotate %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
