<div class="tab-pane fade col-md-12" id="layer-text-<%= text_number %>">
  <div class="layer-settings layer-settings-admin" data-layer="layer-text-<%= text_number %>">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :width do %>
            <%= f.label :width, class: 'required' %>
            <%= f.number_field :width, data: {style: 'width'} %>
            <%= error_message_on f.object, :width %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :height do %>
            <%= f.label :height, class: 'required' %>
            <%= f.number_field :height, data: {style: 'height'} %>
            <%= error_message_on f.object, :height %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :position_x do %>
            <%= f.label :position_x %>
            <%= f.number_field :position_x, data: {style: 'positionX'} %>
            <%= error_message_on f.object, :position_x %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :position_y do %>
            <%= f.label :position_y %>
            <%= f.number_field :position_y, data: {style: 'positionY'} %>
            <%= error_message_on f.object, :position_y %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :rotate do %>
            <%= f.label :rotate do %>
              <%= t(:'spree.personalize_product.rotate') %>
              <span class="valueShow "></span>
            <% end %>
            <%= f.range_field :rotate, data: {style: 'rotate'}, min: '-360', max: '360', value: (f.object.rotate.nil? ? 0 : f.object.rotate) %>
            <%= error_message_on f.object, :rotate %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :font_size do %>
            <%= f.label :font_size do %>
              <%= t(:'spree.personalize_product.font_size') %>
              <span class="valueShow"></span>
            <% end %>
            <%= f.range_field :font_size, data: {style: 'font_size'}, min: '50', max: '400', value: (f.object.font_size.nil? ? 76 : f.object.font_size) %>
            <%= error_message_on f.object, :font_size %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :font_color do %>
            <%= f.label :font_color do %>
              <%= t(:'spree.personalize_product.font_color') %>
            <% end %>
            <ul>
              <li class="width-100" data-textstyle="color">
                <label class="color-picker">
                  <%= f.text_field :font_color, data: {style: 'fontcolor'}, class: 'colorpicker-element' %>
                </label>
                <i class="fa fa-eyedropper"></i>
                <span style="background-color: #333" class="color"></span>
              </li>
            </ul>
            <%= error_message_on f.object, :font_color %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :font_family do %>
            <%= f.label :font_family do %>
              <%= t(:'spree.personalize_product.font_family') %>
            <% end %>
            <%= f.text_field :font_family, class: 'font', data: {style: 'font-style'} %>
            <%= error_message_on f.object, :font_family %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= field_container f.object, :text_content do %>
            <%= f.hidden_field :text_content, data: {style: 'text-content'} %>
            <%= error_message_on f.object, :text_content %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
