<label><%= t('spree.template.added_permission') %></label>
<div class="flexibility-check">
  <%= field_container f.object, :flexibility_for_text do %>
    <%= hidden_field_tag :flexibility_for_text, false  %>
    <%= f.check_box :flexibility_for_text, {data: {effect: 'flexibility_for_text'}}, true %>
    <%= f.label :flexibility_for_text, t('spree.template.add_text') %>
    <%= error_message_on f.object, :flexibility_for_text %>
  <% end %>

  <%= field_container f.object, :flexibility_for_background do %>
    <%= hidden_field_tag :flexibility_for_background, false  %>
    <%= f.check_box :flexibility_for_background, {data: {effect: 'flexibility_for_background'}}, true %>
    <%= f.label :flexibility_for_background, t('spree.template.change_background') %>
    <%= error_message_on f.object, :flexibility_for_background %>
  <% end %>

  <%= field_container f.object, :flexibility_for_sticker do %>
    <%= hidden_field_tag :flexibility_for_sticker, false  %>
    <%= f.check_box :flexibility_for_sticker, {data: {effect: 'flexibility_for_sticker'}}, true %>
    <%= f.label :flexibility_for_sticker, t('spree.template.add_sticker') %>
    <%= error_message_on f.object, :flexibility_for_sticker %>
  <% end %>
</div>