<div class="form-group" data-hook="admin_template_form_name">
  <%= f.field_container :name do %>
    <%= f.label :template_name, class: 'required' %>
    <%= f.text_field :name, class: 'fullwidth title', required: true %>
    <%= f.error_message_on :name %>
  <% end %>
</div>

<div class="form-group" data-hook="admin_template_form_description">
  <%= f.field_container :description do %>
    <%= f.label :template_description %>
    <%= f.text_area :description, class: 'fullwidth title form-control', rows: "3" %>
    <%= f.error_message_on :description %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group" data-hook="admin_template_form_width">
      <%= f.field_container :width do %>
        <%= f.label :template_width , class: 'required' %>
        <%= f.number_field :width, data: {range: 'width'}, required: true, class: 'range-field' %>
        <%= f.error_message_on :width %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" data-hook="admin_template_form_height">
      <%= f.field_container :height do %>
        <%= f.label :template_height, class: 'required' %>
        <%= f.number_field :height, data: {range: 'height'}, required: true, class: 'range-field' %>
        <%= f.error_message_on :height %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group" data-hook="admin_template_form_edges">
      <%= f.field_container :resolution do %>
        <%= f.label :template_resolution do %>
          Template Resolution<span class="valueShow"></span>
        <% end %>
        <%= f.range_field :resolution, data: {range: 'resolution'}, min: '0', max: '300' %>
        <%= f.error_message_on :resolution %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group" data-hook="admin_template_form_edges">
      <%= f.field_container :edges do %>
        <%= f.label :template_rounded_edges do %>
          Template Rounded Edges<span class="valueShow"></span>
        <% end %>
        <% max_edge = @template.present? ? @template.width : '400' %>
        <%= f.range_field :edges, data: {range: 'radius'}, min: '0', max: max_edge %>
        <%= f.error_message_on :edges %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group hide-margin" data-hook="admin_template_form_number_of_images">
      <%= f.field_container :background do %>
        <%= f.label :background %>
        <label class="radio-inline">
          <%= f.radio_button :background, 'background_image' %><%= I18n.t('spree.template.background_image') %>
        </label>
        <label class="radio-inline">
          <%= f.radio_button :background, 'background_color' %><%= I18n.t('spree.template.background_color') %>
        </label>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group background-image-block" data-hook="admin_template_form_background_image">
      <%= f.field_container :background_image do %>
        <label>
          <% if f.object.background_image.nil? %>
            <%= f.file_field :background_image, data: {picture: 'background_image'}, class: 'field-border fullwidth form-control' %>
          <% else %>
            <%= f.file_field :background_image, data: {picture: ' background_image', url: f.object.background_image.url(:original) }, class: 'field-border fullwidth form-control' %>
            <%= f.check_box :remove_background_image, class: 'd-none' %>
          <% end %>
          <%= f.error_message_on :background_image %>
        </label>
      <% end %>
    </div>
    <div class="form-group" data-hook="admin_template_form_background_color">
      <%= f.field_container :background_color do %>
        <ul>
          <li class="width-100" data-textstyle="color">
            <label class="color-picker">
              <%= f.text_field :background_color, data: {color: 'background_color'}, class: 'colorpicker-element-bg' %>
            </label>
            <i class="fa fa-eyedropper"></i>
            <span style="background-color: #333" class="color"></span>
          </li>
        </ul>
        <%= f.error_message_on :background_color %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table  class="form-group frame-block" data-hook="admin_template_form_frame">
      <thead>
        <tr>
          <th><%= f.label :template_frames, t('spree.template.template_frame'), class: 'frame-label' %></th>
          <th colspan="2" class="text-right"><%= link_to_add_fields t('spree.template.add_frames'), 'tbody#template_frames', class: 'button spree_add_frame_fields' %></th>
        </tr>
      </thead>
      <tbody id="template_frames" class="add-template-frames">
        <% count = 0 %>
        <%= f.fields_for :template_frames do |template_frame_form| %>
          <% count += 1 %>
          <%= render partial: 'template_frames', locals: { ff: template_frame_form, count: count, f: f }%>
        <% end %>
      </tbody>
    </table >
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group" data-hook="admin_template_form_number_of_images">
      <%= f.field_container :number_of_images do %>
        <%= f.label :add_images %>
        <%= f.number_field :number_of_images, class: 'fullwidth title form-control', min: '0', max: '20' %>
        <%= f.error_message_on :number_of_images %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" data-hook="admin_template_form_number_of_images">
      <%= f.field_container :number_of_text_boxes do %>
        <%= f.label :add_texts %>
        <%= f.number_field :number_of_text_boxes, class: 'fullwidth title form-control', min: '0', max: '20' %>
        <%= f.error_message_on :number_of_text_boxes %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group" data-hook="admin_template_fields_permission">
      <%= f.fields_for :template_fields_permission do |ff| %>
        <%= render partial: 'add_fields_permission', locals: { f: ff } %>
      <% end %>
    </div>
  </div>
</div>
