<tr class="template-frames fields" data-hook="template_frame" >
  <td class="align-items-middle" style="width:300px"><%= ff.file_field :frame_image, data: {picture: 'frame', layer: "frame-layer-#{count}"}, class: 'field-border fullwidth form-control custom-fle-inpt', multipart: true %>
    <span class="file-input-span"><%= t('spree.template.select_file') %></span>
  </td>
  <% if ff.object.persisted? %>
    <td class="align-items-middle" style="width:300px"><%= image_tag ff.object.frame_image.url(:small), class: 'frame-img-input' %></td>
    <td class="actions align-items-middle" style="width:100px"><%= link_to_delete_frame ff.object, no_text: true, class: 'delete-frame spree_remove_fields', url: admin_template_frame_path(f.object, ff.object), method: :delete, remote: :true %></td>
  <% else %>
    <td></td>
    <td class="actions align-items-middle" style="width:50px"><%= link_to_remove_fields t('spree.actions.remove'), ff, no_text: true %></td>
  <% end %>
</tr>
