<div class="form-content template-layers">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <ul class="nav nav-tabs custom-nav-tabs" id="interest_tabs">
          <% if number_of_images?(@template) %>
            <label><%= t('spree.template.template_layers') %></label>
            <li><a href="#images-layer" data-toggle="tab" class="layer-tabs"><%= f.label :images_layer, t('spree.template.image_layers') %></a></li>
          <% end %>
          <% if number_of_text_boxes?(@template) %>
            <li><a href="#texts-layer" data-toggle="tab" class="layer-tabs"><%= f.label :texts_layer %></a></li>
          <% end %>
        </ul>
        
        <div class="tab-content">
          <% if number_of_images?(@template) %>
            <div id="images-layer" class="tab-pane">
              <ul class="nav nav-tabs custom-nav-tabs" id="images_layer_tabs layer-setting-admin">
                <% (@template.template_images).each_with_index do |template_image, img_number| %>
                  <li>
                    <%= link_to "Image Placeholder #{img_number+1}",
                      "#layer-#{img_number+1}", {class: 'layer-tabs', data: { toggle: 'tab', value: "layer-#{img_number+1}" }} %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <% if number_of_text_boxes?(@template) %>
            <div id="texts-layer" class="tab-pane">
              <ul class="nav nav-tabs custom-nav-tabs" id="texts_layer_tabs layer-setting-admin">
                <% (@template.template_texts).each_with_index do |template_text, text_number| %>
                  <li>
                    <%= link_to "Text Placeholder #{text_number+1}",
                      "#layer-text-#{text_number+1}", {data: { toggle: 'tab', value: "layer-text-#{text_number+1}" }, class: 'txt-lyr layer-tabs' } %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <div class="tab-content">
          <% if @template.number_of_images.present? %>
            <% (@template.template_images).each_with_index do |template_image, img_number| %>
              <%= f.fields_for :template_images, template_image do |template_image| %>
                <%= render partial: 'add_image_fields', locals: { f: template_image, img_number: img_number+1 } %>
              <% end %>
            <% end %> 
          <% end %>
        </div>

        <div class="tab-content">
          <% if @template.number_of_text_boxes.present? %>
            <% (@template.template_texts).each_with_index do |template_text, text_number| %>
              <%= f.fields_for :template_texts, template_text do |template_text| %>
                <%= render partial: 'add_template_texts', locals: { f: template_text, text_number: text_number+1 } %>
              <% end %>
            <% end %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>