<% admin_layout "full-width" %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Template) %>
    <li id="new_template_link">
      <%= button_link_to t('spree.new_template'), new_object_url, { id: 'admin_new_template' } %>
    </li>
  <% end %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @template } %>

<% admin_breadcrumb(t('spree.template_details')) %>

<div data-hook="admin_template_form_fields">
  <main class="gxp-admin">
    <div class="row">
      <div class="container col-12 text-left">
        <%= form_for [:admin, @template] do |f| %>
          <fieldset class="no-border-top no-border-bottom sticky-container">
            <div class="zoom-inout-scale" data-zoom-scale="<%= (500.to_f / @template.width.to_f).round(1) %>" data-zoom-change="0.05">
              <button class="btn" data-zoom="negative">
                <i class="fa fa-minus"></i>
              </button>
              <button class="btn" data-zoom="positive">
                <i class="fa fa-plus"></i>
              </button>
              <div class="current-size">
                <%= t('spree.scale.label') %>: <%= t('spree.scale.original') %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8"><!-- sticky-static -->
                <div class="overflow-container">
                  <div class="template-preview">
                    <h2><%= t(:'spree.template.template_preview') %></h2>
                    <div class="frame-list">
                      <% template_frames = @template.template_frames %>
                      <% if template_frames.present? %>
                        <% i = 0 %>
                        <% template_frames.each do |frame|%>
                        <% i += 1 %>
                         <% if frame.frame_image.present? %>
                            <div class="frame-images" data-layer="frame-layer-<%= i %>">
                              <%= image_tag frame.frame_image.url(:original)  %>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="scale-parent">
                      <div class="preview-shape">
                        <div id="frame-preview">
                          <%= image_tag template_frames.first.frame_image.url(:original) if template_frames.present? %>
                        </div>
                          <!-- preview shape of images and text -->
                          <%= render partial: 'preview_shape' %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-content form-content-scroll">
                  <%= render partial: 'form', locals: { f: f } %>
                  <%= render partial: 'template_layers_tabs', locals: { f: f } %>
                </div>
              </div>
            </div>
          </fieldset>

          <% if can?(:update, @template) %>
            <fieldset class="no-border-top">
              <%= render partial: 'spree/admin/shared/edit_resource_links' %>
            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>
  </main>
</div>
