<% admin_layout "full-width" %>

<% admin_breadcrumb(plural_resource_name(Spree::Template)) %>

<% content_for :page_actions do %>
  <li id="new_template_link">
    <%= button_link_to Spree.t(:new_template), new_admin_template_path, { :id => 'new_admin_template' } %>
  </li>
<% end if can?(:create, Spree::Template) %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_templates_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {f: f} %>
        <div class="row" data-hook="admin_templates_index_search" >
          <div class="col-12">
            <div class="field">
              <%= f.label :name_cont, Spree::Template.human_attribute_name(:name) %>
              <%= f.text_field :name_cont, size: 15 %>
            </div>
          </div>
        </div>

        <div class="actions filter-actions" data-hook="admin_templates_index_search_buttons">
          <%= button t('spree.search') %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_template_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_templates">
    <thead>
      <tr data-hook="admin_templates_index_headers">
        <th><%= sort_link @search, :name, Spree::Template.human_attribute_name(:name), { default_order: "desc" }, {title: 'admin_templates_listing_name_title'} %></th>
        <th><%= Spree::Template.human_attribute_name(:description) %></th>
        <th><%= Spree::Template.human_attribute_name(:width) %></th>
        <th><%= Spree::Template.human_attribute_name(:height) %></th>
        <th><%= Spree::Template.human_attribute_name(:edges) %></th>
        <th><%= Spree::Template.human_attribute_name(:total_images) %></th>
        <th><%= Spree::Template.human_attribute_name(:total_textboxes) %></th>
        <th><%= Spree::Template.human_attribute_name(:background) %>
        <th data-hook="admin_templates_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |template| %>
          <tr <%== "style='color: red;'" if template.deleted? %> id="<%= spree_dom_id template %>" data-hook="admin_templates_index_rows">
            <td><%= link_to template.try(:name), edit_admin_template_path(template) %></td>
            <td><%= template.description %></td>
            <td><%= template.width %></td>
            <td><%= template.height %></td>
            <td><%= template.edges %></td>
            <td class="text-center"><%= template.number_of_images %></td>
            <td class="text-center"><%= template.number_of_text_boxes %></td>
            <% if template.background_color.present? %>
              <td class="temp-bg" style="background-color: <%= template.background_color %>;">
              </td>
            <% elsif template.background_image.present? %>
              <td class="temp-bg"><%= image_tag template.background_image.url(:original) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td class="actions" data-hook="admin_templates_index_row_actions">
              <%= link_to_edit template, no_text: true, class: 'edit' if can?(:edit, template) && !template.deleted? %>
              &nbsp;
              <%= link_to_clone template, no_text: true, class: 'clone' if can?(:clone, template) %>
              &nbsp;
              <% if template.products.present? %>
                <%= link_to_delete(template, options={no_text: true, confirm: t('spree.template.associated_with_product')}) if can?(:delete, template) && !template.deleted? %>
              <% else %>
                <%= link_to_delete template, no_text: true if can?(:delete, template) && !template.deleted? %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Template,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
