<% admin_breadcrumb link_to(plural_resource_name(Spree::Template), spree.admin_templates_path) %>

<% admin_breadcrumb t('spree.new_template') %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @template } %>

<div data-hook="admin_template_form_fields">
  <main class="gxp-admin">
    <div class="">
      <div class="container">
        <%= form_for [:admin, @template], method: :post, url: admin_templates_path do |f| %>
          <fieldset data-hook="new_template" class="no-border-top no-border-bottom sticky-container">
            <div class="zoom-inout-scale" data-zoom-scale="0.8" data-zoom-change="0.01">
              <button class="btn" data-zoom="negative">
                <i class="fa fa-minus"></i>
              </button>
              <button class="btn" data-zoom="positive">
                <i class="fa fa-plus"></i>
              </button>
              <div class="current-size">
                <%= t('spree.scale.label') %>: <%= t('spree.scale.original') %>
              </div>
            </div>
            <legend align="center"><%= t('spree.new_template') %></legend>
            <div class="row">
              <div class="col-md-7"> <!-- sticky-static -->
                <div class="overflow-container">
                  <div class="template-preview">
                    <h2><%= t(:'spree.template.template_preview') %></h2>
                    <div class="frame-list"></div>
                    <div class="preview-shape">
                      <div class="frame-preview"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-content form-content-scroll">
                  <%= render partial: 'form', locals: { f: f } %>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="no-border-top">
            <%= render partial: 'spree/admin/shared/new_resource_links' %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </main>
</div>
