<%= field_container color.object, :color_code, {} do %>
  <tr class="color_code fields" id="spree_<%= dom_id(color.object) %>"  data-hook="color_code">
    <td class="color_code">
      <div class="input-group input-color-grp">
        <%= color.text_field :color_code, class: 'filter-color form-control', data: { 'color-pick': "transparent" }, placeholder: "Select Color" %>
        <span class="input-group-addon"></span>
        <%= error_message_on color.object, :color_code, 'aria-describedby': "basic-addon1" %>
      </div>
    </td>
    <td class="actions"><%= link_to_remove_fields t('spree.actions.remove'), color, no_text: true %></td>
  </tr>
<% end %>