<div data-hook="admin_filter_form_fields">
  <div class="row">
    <div class="left col-5" data-hook="admin_filter_form_left">
      <div data-hook="admin_filter_form_image">
        <h2><%= t('spree.filter.preview') %></h2>
        <div class="preview-filter">
          <div class="filter-div"></div>
          <%= image_tag "spree/backend/filter-bg.jpg" %>
        </div>
        <div class="preview-filter-png"></div>
      </div>
    </div>

    <div class="left col-7">
      <div data-hook="admin_filter_form_name">
        <%= f.field_container :name do %>
          <%= f.label :name, class: 'required' %>
          <%= f.text_field :name, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <div data-hook="admin_filter_form_color_code">
        <% f.object.colors.build if f.object.colors.blank? %>
        <table class="index sortable" data-hook data-sortable-link="<%= update_values_positions_admin_option_types_url %>">
          <colgroup>
            <col width="70%">
            <col width="30%">
          </colgroup>
          <thead data-hook="option_header">
            <tr>
              <th><%= Spree::Color.human_attribute_name(:color_code) %></th>
              <th class="actions">
                <span id="new_add_color_codes" data-hook >
                  <%= link_to_add_fields t('spree.filter.add_color_code'), "tbody#color_codes", class: 'button' %>
                </span>
              </th>
            </tr>
          </thead>
          <tbody id="color_codes">
            <%= f.fields_for :colors do |color| %>
              <%= render partial: 'color_fields', locals: { color: color } %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <label><input type="checkbox" id="gradientCheck"> <%= t('spree.filter.gradient') %></label>
      </div>

      <div class="gradientbox">
        <div class="gradientStrip mb-4">
          <div class="gradient-strip-color"></div>
        </div>
      </div>

    </div>
  </div>
