<% content_for :page_actions do %>
  <% if can?(:create, Spree::Filter) %>
    <li id="new_filter_link">
      <%= button_link_to t('spree.new_filter'), new_object_url, { id: 'admin_new_filter' } %>
    </li>
  <% end %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @filter } %>

<% admin_breadcrumb(t('spree.filter_details')) %>

<%= form_for [:admin, @filter], html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <% if can?(:update, @filter) %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
<% end %>