<% admin_layout "full-width" %>

<% admin_breadcrumb(plural_resource_name(Spree::Filter)) %>

<% content_for :page_actions do %>
  <li id="new_filter_link">
    <%= button_link_to Spree.t(:new_filter), new_admin_filter_path, { :id => 'new_admin_filter' } %>
  </li>
<% end if can?(:create, Spree::Filter) %>

<% content_for :table_filter do %>
  <div data-hook="admin_filters_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {f: f} %>
        <div class="row" data-hook="admin_filters_index_search" >
          <div class="col-12">
            <div class="field">
              <%= f.label :name_cont, Spree::Filter.human_attribute_name(:name) %>
              <%= f.text_field :name_cont, size: 15 %>
            </div>
          </div>
        </div>

        <div class="actions filter-actions" data-hook="admin_filters_index_search_buttons">
          <%= button t('spree.search') %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_filter_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_filters">
    <colgroup>
      
    </colgroup>
    <thead>
      <tr data-hook="admin_filters_index_headers">
        <th><%= sort_link @search, :name, Spree::Filter.human_attribute_name(:name), { default_order: "desc" }, {title: 'admin_filters_listing_name_title'} %></th>
        <th><%= Spree::Filter.human_attribute_name(:color_code) %></th>
        <th data-hook="admin_filters_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |filter| %>
          <tr <%== "style='color: red;'" if filter.deleted? %> id="<%= spree_dom_id filter %>" data-hook="admin_filters_index_rows">
            <td class="align-left"><%= link_to filter.try(:name), edit_admin_filter_path(filter) %></td>
            <td>
              <div class="gradientStrip mb-4 color-gradient-arr" data-color-arr="<%= build_color_array(filter) %>">
                <div class="gradient-strip-color"></div>
              </div>
            </td>
            <td class="actions" data-hook="admin_filters_index_row_actions">
              <%= link_to_edit filter, no_text: true, class: 'edit' if can?(:edit, filter) && !filter.deleted? %>
              &nbsp;
              <%= link_to_clone filter, no_text: true, class: 'clone' if can?(:clone, filter) %>
              &nbsp;
              <%= link_to_delete filter, no_text: true if can?(:delete, filter) && !filter.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Filter,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>