<% admin_breadcrumb link_to(plural_resource_name(Spree::Filter), spree.admin_stickers_path) %>

<% admin_breadcrumb t('spree.new_filter') %>
  
<%= render partial: 'spree/shared/error_messages', locals: { target: @filter } %>

<%= form_for [:admin, @filter], method: :post, url: admin_filters_path, html: { multipart: true } do |f| %>
  <fieldset data-hook="new_sticker">
    <legend align="center"><%= t('spree.new_filter') %></legend>

    <%= render partial: 'form', locals: { f: f } %>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
