
<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_type_tabs">
      <%= content_tag :li, class: ('active' if !@is_personalize_product), id: 'product' do %>
        <%= link_to t('spree.products'), spree.admin_products_path(), onclick: 'on_click("product")' %>
      <% end if can?(:admin, Spree::Product) %>
      <%# current = 'personalize_products' %>
      <%= content_tag :li, class: ('active' if @is_personalize_product), id: 'personalize_product' do %>
        <%= link_to t('spree.personalize_products'), spree.admin_products_path(personalize: true) %>
      <% end %>
    </ul>
  </nav>
<% end %>
