<div class="row">
  <div class="col-9">
    <%= f.field_container :add_template do %>
      <%= f.label :add_template %>
      <%= f.collection_select(:template_id, Spree::Template.all, :id, :name, { include_blank: t('spree.match_choices.none') }, { class: 'custom-select' }) %>
      <%= f.error_message_on :template_id %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-9 wishlist-photos">
    <%= f.field_container :wishlist_photos do %>
      <%= hidden_field_tag :wishlist_photos, false  %>
      <%= f.check_box :wishlist_photos, {data: {effect: 'wishlist_photos'}}, true %>
      <%= f.label :wishlist_photos, t('spree.product.wishlist_photos') %>
      <%= f.error_message_on :wishlist_photos %>
      <div class="wishlist-error"></div>
    <% end %>
  </div>
</div>