<% content_for :page_actions do %>
  <% if can?(:create, Spree::Sticker) %>
    <li id="new_sticker_link">
      <%= button_link_to t('spree.new_sticker'), new_object_url, { id: 'admin_new_sticker' } %>
    </li>
  <% end %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @sticker } %>

<% admin_breadcrumb(t('spree.sticker_details')) %>

<%= form_for [:admin, @sticker], html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <% if can?(:update, @sticker) %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
<% end %>
