<% admin_layout "full-width" %>

<% admin_breadcrumb(plural_resource_name(Spree::Sticker)) %>

<% content_for :page_actions do %>
  <li id="new_sticker_link">
    <%= button_link_to Spree.t(:new_sticker), new_admin_sticker_path, { :id => 'new_admin_sticker' } %>
  </li>
<% end if can?(:create, Spree::Sticker) %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_stickers_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {f: f} %>
        <div class="row" data-hook="admin_stickers_index_search" >
          <div class="col-12">
            <div class="field">
              <%= f.label :name_cont, Spree::Sticker.human_attribute_name(:name) %>
              <%= f.text_field :name_cont, size: 15 %>
            </div>
          </div>
        </div>

        <div class="actions filter-actions" data-hook="admin_stickers_index_search_buttons">
          <%= button t('spree.search') %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_sticker_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_stickers">
    <colgroup>
       <col style="width: 20%;">
       <col style="width: 30%;">
       <col style="width: 30%;">
       <col style="width: 20%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_stickers_index_headers">
        <th><%= Spree::Sticker.human_attribute_name(:image) %></th>
        <th><%= sort_link @search, :name, Spree::Sticker.human_attribute_name(:name), { default_order: "desc" }, {title: 'admin_stickers_listing_name_title'} %></th>
        <th><%= Spree::Sticker.human_attribute_name(:slug) %></th>
        <th data-hook="admin_stickers_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |sticker| %>
          <tr <%== "style='color: red;'" if sticker.deleted? %> id="<%= spree_dom_id sticker %>" data-hook="admin_stickers_index_rows">
            <td class="align-center"><%= image_tag sticker.image.url(:original), class: 'sticker-img' %></td>
            <td><%= link_to sticker.try(:name), edit_admin_sticker_path(sticker) %></td>
            <td><%= sticker.slug %></td>
            <td class="actions" data-hook="admin_stickers_index_row_actions">
              <%= link_to_edit sticker, no_text: true, class: 'edit' if can?(:edit, sticker) && !sticker.deleted? %>
              &nbsp;
              <%= link_to_clone sticker, no_text: true, class: 'clone' if can?(:clone, sticker) %>
              &nbsp;
              <%= link_to_delete sticker, no_text: true if can?(:delete, sticker) && !sticker.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Sticker,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
