<% admin_breadcrumb link_to(plural_resource_name(Spree::Sticker), spree.admin_stickers_path) %>

<% admin_breadcrumb t('spree.new_sticker') %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @sticker } %>

<%= form_for [:admin, @sticker], method: :post, url: admin_stickers_path, html: { multipart: true } do |f| %>
  <fieldset data-hook="new_sticker">
    <legend align="center"><%= t('spree.new_sticker') %></legend>

    <%= render partial: 'form', locals: { f: f } %>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
