<% size ||= :mini %>

<% if background && background.background_image? %>
  <%= image_tag background.background_image(size) %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>

