<ul class="admin-subnav" data-hook="admin_on_demand_sub_tabs">
  <% if can? :admin, Spree::Template %>
    <%= tab :templates, match_path: '/templates' %>
  <% end %>

  <% if can? :admin, Spree::Sticker %>
    <%= tab :stickers, match_path: '/stickers' %>
  <% end %>

  <% if can? :admin, Spree::Filter %>
    <%= tab :filters, match_path: '/filters' %>
  <% end %>

  <% if can? :admin, Spree::Background %>
    <%= tab :backgrounds, match_path: '/backgrounds' %>
  <% end %>
</ul>
