<div class="secondary-nav d-xl-block">
  <div class="container bigger">
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">          
          <% if spree_current_user %>
            <li class="nav-item">
              <% if spree_current_user.full_name.present? %>  
                <%= link_to "#{t('top_header.welcome')}, #{spree_current_user.full_name}!", 'javascript:;', class: "nav-link" %>
              <% else %>
                <%= link_to "#{t('top_header.welcome')} !", 'javascript:;', class: "nav-link" %>
              <% end %>  
            </li>
            <li class="nav-item">
              <%= link_to t('top_header.my_account'), spree.account_path, class: "nav-link text-uppercase" %>
            </li>
          <% end %>
          <li class="nav-item" id="link-to-cart" data-hook>
            <%= link_to spree.cart_path, class: "nav-link" do %>
              <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i><%= t('spree.shopping_cart') %>
              <% if current_order %>
                <span class="badge badge-primary badge-pill">
                  <%= current_order.item_count %>
                </span>
              <% end %>  
            <% end %>
          </li>
          <li class="nav-item">
            <% if spree_current_user %>
              <%= link_to Spree.t(:logout), destroy_spree_user_session_path, class: "nav-link db-none" %>
            <% else %>
              <%= link_to Spree.t(:login), spree_login_path, class: "nav-link db-none" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>