<!-- Meta-->
<meta charset="utf-8">
<!-- Viewport-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta content="ie=edge" http-equiv="X-UA-Compatible" />
<%== meta_data_tags %>

<!-- Title-->
<title><%= title %></title>
<%= csrf_meta_tags %>
<%= canonical_tag(current_store.url) %>

<%= stylesheet_link_tag 'spree/frontend/image_plugin_editor', media: 'screen' %>
<link rel="manifest" href="site.webmanifest">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Oswald:400,700|Playfair+Display:400,400i,700,700i|Roboto+Slab:400,700|Skranji:400,700|Ubuntu:400,400i,700,700i"
    rel="stylesheet">
<%= csrf_meta_tags %>

<%= yield :head %>
