<%= render partial: 'spree/shared/header_top_navbar' %>
<header class="main-header">
  <nav class="navbar navbar-light fixed-top">
    <div class="container flex-nowrap">
      <div class="nav-links">
        <div class="navbar-nav ml-auto">
          <div class="logo-sb">
            <%= link_to href="/" do %>
              <%= image_tag "spree/frontend/logo.png" %>
            <% end %>
          </div>
          <%= render partial: "spree/personalize_products/top_navbar/plugin_nav_links" %>
        </div>
      </div>
      <div class="doc-details">
        <%= render partial: 'spree/personalize_products/top_navbar/sample_images' %>        
        <div class="save-btn" data-toggle="modal" data-target="#myModal">
          <i class="fas fa-save"></i>
          <span><%= t('spree.personalize_product.preview') %></span>
        </div>
        <div class="exit-btn">
          <%= link_to product_path(@product) do %>
            <i class="fa fa-times"></i>
          <% end %>
          <span><%= t("spree.personalize_product.exit") %></span>
        </div>
      </div>
    </div>
  </nav>
</header>
