<!doctype html>
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_plugin_head">
    
    <%= render partial: 'spree/shared/plugin_head' %>
   
  </head>
  <body class="<%= body_class %> bottom-panel-aligned" id="<%= @body_id || 'default' %>" data-hook="body">
    
    
    <div id="content-plugin" locale=<%= session[:locale] %> data-hook >             
      <%= yield %>
    </div>
    
    <%= yield :templates %>

    <%= javascript_include_tag 'spree/frontend/image_plugin_editor' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript">
      window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
      
      $(document).ready(function () {
        $('#instructionModal').modal({
          backdrop: true,
          keyboard: false,
          focus: false,
          show: true
        })
      });
    </script>
      
           
  </body>
</html>
